// Varbase design issues //


// New request design  //

.paragraph--type--bp-accordion {
 .paragraph {
     padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

//Padding b/w paragraphs //

.paragraph  {
 padding-top: 12.5px;
 padding-bottom: 12.5px;
 }

 // Component title  h2 color changed as requetsed //

 .paragraph h2  {
   font-size: 22px !important;
   color: #005191 !important;
}

// Tabs font size and color //

.paragraph {
 .nav-tabs > li > a  {
  font-size: 20px !important;
  color: #539ecf !important;
  font-weight: bold;
   }
  }


  // Carousel indicator issue //

.paragraph--type--bp-carousel {
.carousel-indicators {
  bottom: -1px !important;
  }
}


// Accordion title font //

.paragraph--type--bp-accordion {
 .panel-title a {
 font-size: 20px;
 color: #539ecf;
  }

.field--name-bp-text {
 color: #000 !important;
 }

.panel-title a::after {
 background-color: transparent !important;
    content: url("https://haboob.oneeach.org/sites/haboob.oneeach.org/files/plus.png") !important;
    background-position: right bottom !important;
    background-size: 38px auto;
    float: right;
    height: 35px;
    margin-top: 3px;
    width: 65px;
    right: 0;
    top: 2px;
    background-repeat: no-repeat;
  }
}


  // Webform //

  .paragraph--type--bp-webform {
   display: inline-block;
}


// Padding design issue  for all paragraph types //

.paragraph--type--bp-accordion .container {
     width: 100%;
}

.shariff-button {
  text-align: center;
}

.field--name-bp-text {
 padding: 10px;
 }

.shariff .svg-inline--fa {
 font-size: 16px !important;
 }

.shariff .twitter .fa-twitter {
    font-size: 16px !important;
}

.shariff .facebook .fa-facebook-f {
    font-size: 16px !important;
}




