$blue: #005191; 
$primary-color: $blue;
$red: #ff443b;
$yellow: #fcb53e;
$light-blue: #539ed0;
$secondary-color: $light-blue;
$grey: #939598;
$grey-dark: #505050;
$white: #ffffff;
$black: #000000;
$orange: #F57814;
$dark-orange: #f26527;
$light-orange: #FFB351;
$black1: #111111;
