html {
 height: 100%;
}
body {
 font-family: $reg;
 color: $black1;
 font-size: 14px;
 height: 100%;
 margin: 0px;
}

a:link, 
a:visited {
 color: $blue;
 outline: medium none;
 text-decoration: none;
}

a:hover {
 color: $blue;
}

a:active {
 color: $light-blue;
 outline: medium none;
 text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
 color: #005191;
 letter-spacing: 1px;
 //margin: 0px;
 //font-family: $head;
 font-family: "league-gothic";
}
/*
h1 {
 font-size: 36px;
 color: $orange;
}

h2 {
 font-size: 30px;
  color: $blue;
}

h3 {
    color: $red;
    font-size: 26px;
}
h4 {
    color: $light-blue;
    font-size: 20px;
}
h5 {
  font-size: 18px; 
  color: $orange;
  }
h6 {
    font-size: 18px; 
    color: $light-orange;
}*/


h1 {
 font-size: 36px;
   // color: $blue;
}

h2 {
   //font-size: 30px;
 font-size: 34px;
 color: #539ED0;
}

h3 {
      // font-size: 26px;
     font-size: 30px;
    color: #005191;
}
h4 {
      //color: $blue;
    font-size: 22px;
    //font-size: 22px;
    color: #FF443B;
}
h5 {
  font-size: 20px;
    //font-size: 20px;
  color: #FFB351;
  }
h6 {
   font-size: 18px;
     //font-size: 18px;
    color: #F57814;
}

