.button {
 display: inline-block;
 vertical-align: baseline;
 background: $blue none repeat scroll 0% 0%;
 border: 2px solid $blue;
 text-decoration: none !important;
 color: $white !important;
 padding: 10px 20px;
 text-transform: uppercase;
 font-size: 20px;
 font-family: $title;
 transition: all 0.3s linear 0s;
 line-height: 23px;
 &:hover {
  background: $blue none repeat scroll 0% 0%;
  opacity: 0.5;
  border: 2px solid $blue; 
 }
}

.row-eq-height {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
