/* line 1, ../sass/base/_variables.scss */
.button, .main-container .region.region-content .view-blogs .views-row .views-field-view-node a, .main-container .region.region-content .view-videos .views-row .views-field-view-node a, .main-container .region.region-content ._view-gallery .views-row .views-field-view-node a, .main-container .region.region-content .view-news .views-row .views-field-view-node a, .main-container .region.region-content .view-in-the-news .views-row .views-field-view-node a,
.main-container .region.region-content .view-latest-news .views-row .views-field-view-node a,
.main-container .region.region-content .view-video-gallery .views-row .views-field-view-node a, .main-container .region.region-content .view-featured-article .views-row .views-field-view-node a, .main-container .region.region-content .view-feeds .views-row .views-field-view-node a, #page-header .views-field.views-field-nothing .more a, .about .row div a {
  display: inline-block;
  vertical-align: baseline;
  background: #005191 none repeat scroll 0% 0%;
  border: 2px solid #005191;
  text-decoration: none !important;
  color: #ffffff !important;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "league-gothic";
  transition: all 0.3s linear 0s;
  line-height: 23px;
}
/* line 14, ../sass/base/_variables.scss */
.button:hover, .main-container .region.region-content .view-blogs .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-videos .views-row .views-field-view-node a:hover, .main-container .region.region-content ._view-gallery .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-news .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-in-the-news .views-row .views-field-view-node a:hover,
.main-container .region.region-content .view-latest-news .views-row .views-field-view-node a:hover,
.main-container .region.region-content .view-video-gallery .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-featured-article .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-feeds .views-row .views-field-view-node a:hover, #page-header .views-field.views-field-nothing .more a:hover, .about .row div a:hover {
  background: #005191 none repeat scroll 0% 0%;
  opacity: 0.5;
  border: 2px solid #005191;
}

/* line 21, ../sass/base/_variables.scss */
.row-eq-height {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 1, ../sass/base/_typography.scss */
html {
  height: 100%;
}

/* line 4, ../sass/base/_typography.scss */
body {
  font-family: "roboto";
  color: #111111;
  font-size: 14px;
  height: 100%;
  margin: 0px;
}

/* line 12, ../sass/base/_typography.scss */
a:link,
a:visited {
  color: #005191;
  outline: medium none;
  text-decoration: none;
}

/* line 19, ../sass/base/_typography.scss */
a:hover {
  color: #005191;
}

/* line 23, ../sass/base/_typography.scss */
a:active {
  color: #539ed0;
  outline: medium none;
  text-decoration: none;
}

/* line 29, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #005191;
  letter-spacing: 1px;
  font-family: "league-gothic";
}

/*
h1 {
 font-size: 36px;
 color: $orange;
}

h2 {
 font-size: 30px;
  color: $blue;
}

h3 {
    color: $red;
    font-size: 26px;
}
h4 {
    color: $light-blue;
    font-size: 20px;
}
h5 {
  font-size: 18px; 
  color: $orange;
  }
h6 {
    font-size: 18px; 
    color: $light-orange;
}*/
/* line 65, ../sass/base/_typography.scss */
h1 {
  font-size: 36px;
}

/* line 70, ../sass/base/_typography.scss */
h2 {
  font-size: 34px;
  color: #539ED0;
}

/* line 76, ../sass/base/_typography.scss */
h3 {
  font-size: 30px;
  color: #005191;
}

/* line 81, ../sass/base/_typography.scss */
h4 {
  font-size: 22px;
  color: #FF443B;
}

/* line 87, ../sass/base/_typography.scss */
h5 {
  font-size: 20px;
  color: #FFB351;
}

/* line 92, ../sass/base/_typography.scss */
h6 {
  font-size: 18px;
  color: #F57814;
}

/* line 7, ../sass/modules/_pages.scss */
.form-control,
.select2-container .select2-choice {
  height: auto;
}

/* line 12, ../sass/modules/_pages.scss */
.region.region-content {
  margin-bottom: 15px;
}

/* line 18, ../sass/modules/_pages.scss */
.path-frontpage .region.region-content {
  min-height: 100% !important;
}

/* line 27, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row:nth-child(1), .main-container .region.region-content .view-videos .views-row:nth-child(1), .main-container .region.region-content ._view-gallery .views-row:nth-child(1), .main-container .region.region-content .view-news .views-row:nth-child(1), .main-container .region.region-content .view-in-the-news .views-row:nth-child(1),
.main-container .region.region-content .view-latest-news .views-row:nth-child(1),
.main-container .region.region-content .view-video-gallery .views-row:nth-child(1), .main-container .region.region-content .view-featured-article .views-row:nth-child(1), .main-container .region.region-content .view-feeds .views-row:nth-child(1) {
  border-top: dotted 1px #ccc;
}
/* line 30, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row, .main-container .region.region-content .view-videos .views-row, .main-container .region.region-content ._view-gallery .views-row, .main-container .region.region-content .view-news .views-row, .main-container .region.region-content .view-in-the-news .views-row,
.main-container .region.region-content .view-latest-news .views-row,
.main-container .region.region-content .view-video-gallery .views-row, .main-container .region.region-content .view-featured-article .views-row, .main-container .region.region-content .view-feeds .views-row {
  float: left;
  width: 100%;
  border-bottom: dotted 1px #ccc;
  padding: 20px 0px;
}
/* line 36, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row .views-field-title a, .main-container .region.region-content .view-videos .views-row .views-field-title a, .main-container .region.region-content ._view-gallery .views-row .views-field-title a, .main-container .region.region-content .view-news .views-row .views-field-title a, .main-container .region.region-content .view-in-the-news .views-row .views-field-title a,
.main-container .region.region-content .view-latest-news .views-row .views-field-title a,
.main-container .region.region-content .view-video-gallery .views-row .views-field-title a, .main-container .region.region-content .view-featured-article .views-row .views-field-title a, .main-container .region.region-content .view-feeds .views-row .views-field-title a {
  color: #539ed0;
  text-decoration: none;
  font-size: 22px;
}
/* line 42, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row .views-label-field-category, .main-container .region.region-content .view-videos .views-row .views-label-field-category, .main-container .region.region-content ._view-gallery .views-row .views-label-field-category, .main-container .region.region-content .view-news .views-row .views-label-field-category, .main-container .region.region-content .view-in-the-news .views-row .views-label-field-category,
.main-container .region.region-content .view-latest-news .views-row .views-label-field-category,
.main-container .region.region-content .view-video-gallery .views-row .views-label-field-category, .main-container .region.region-content .view-featured-article .views-row .views-label-field-category, .main-container .region.region-content .view-feeds .views-row .views-label-field-category {
  float: left;
}
/* line 45, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row .views-field-field-category a, .main-container .region.region-content .view-videos .views-row .views-field-field-category a, .main-container .region.region-content ._view-gallery .views-row .views-field-field-category a, .main-container .region.region-content .view-news .views-row .views-field-field-category a, .main-container .region.region-content .view-in-the-news .views-row .views-field-field-category a,
.main-container .region.region-content .view-latest-news .views-row .views-field-field-category a,
.main-container .region.region-content .view-video-gallery .views-row .views-field-field-category a, .main-container .region.region-content .view-featured-article .views-row .views-field-field-category a, .main-container .region.region-content .view-feeds .views-row .views-field-field-category a {
  color: #539ed0;
  margin-left: 5px;
}
/* line 49, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row iframe, .main-container .region.region-content .view-videos .views-row iframe, .main-container .region.region-content ._view-gallery .views-row iframe, .main-container .region.region-content .view-news .views-row iframe, .main-container .region.region-content .view-in-the-news .views-row iframe,
.main-container .region.region-content .view-latest-news .views-row iframe,
.main-container .region.region-content .view-video-gallery .views-row iframe, .main-container .region.region-content .view-featured-article .views-row iframe, .main-container .region.region-content .view-feeds .views-row iframe {
  width: 300px !important;
  height: 180px !important;
}
/* line 53, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row img, .main-container .region.region-content .view-blogs .views-row iframe, .main-container .region.region-content .view-videos .views-row img, .main-container .region.region-content .view-videos .views-row iframe, .main-container .region.region-content ._view-gallery .views-row img, .main-container .region.region-content ._view-gallery .views-row iframe, .main-container .region.region-content .view-news .views-row img, .main-container .region.region-content .view-news .views-row iframe, .main-container .region.region-content .view-in-the-news .views-row img, .main-container .region.region-content .view-in-the-news .views-row iframe,
.main-container .region.region-content .view-latest-news .views-row img,
.main-container .region.region-content .view-latest-news .views-row iframe,
.main-container .region.region-content .view-video-gallery .views-row img,
.main-container .region.region-content .view-video-gallery .views-row iframe, .main-container .region.region-content .view-featured-article .views-row img, .main-container .region.region-content .view-featured-article .views-row iframe, .main-container .region.region-content .view-feeds .views-row img, .main-container .region.region-content .view-feeds .views-row iframe {
  float: left;
  margin: 0px 20px 10px 0px;
}
/* line 57, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row .views-field-created, .main-container .region.region-content .view-videos .views-row .views-field-created, .main-container .region.region-content ._view-gallery .views-row .views-field-created, .main-container .region.region-content .view-news .views-row .views-field-created, .main-container .region.region-content .view-in-the-news .views-row .views-field-created,
.main-container .region.region-content .view-latest-news .views-row .views-field-created,
.main-container .region.region-content .view-video-gallery .views-row .views-field-created, .main-container .region.region-content .view-featured-article .views-row .views-field-created, .main-container .region.region-content .view-feeds .views-row .views-field-created {
  color: #888;
  font-size: 12px;
}
/* line 61, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row .views-field-view-node, .main-container .region.region-content .view-videos .views-row .views-field-view-node, .main-container .region.region-content ._view-gallery .views-row .views-field-view-node, .main-container .region.region-content .view-news .views-row .views-field-view-node, .main-container .region.region-content .view-in-the-news .views-row .views-field-view-node,
.main-container .region.region-content .view-latest-news .views-row .views-field-view-node,
.main-container .region.region-content .view-video-gallery .views-row .views-field-view-node, .main-container .region.region-content .view-featured-article .views-row .views-field-view-node, .main-container .region.region-content .view-feeds .views-row .views-field-view-node {
  text-align: right;
}
/* line 63, ../sass/modules/_pages.scss */
.main-container .region.region-content .view-blogs .views-row .views-field-view-node a, .main-container .region.region-content .view-videos .views-row .views-field-view-node a, .main-container .region.region-content ._view-gallery .views-row .views-field-view-node a, .main-container .region.region-content .view-news .views-row .views-field-view-node a, .main-container .region.region-content .view-in-the-news .views-row .views-field-view-node a,
.main-container .region.region-content .view-latest-news .views-row .views-field-view-node a,
.main-container .region.region-content .view-video-gallery .views-row .views-field-view-node a, .main-container .region.region-content .view-featured-article .views-row .views-field-view-node a, .main-container .region.region-content .view-feeds .views-row .views-field-view-node a {
  font-size: 18px;
}

/* line 73, ../sass/modules/_pages.scss */
.region.region-sidebar-first {
  padding-bottom: 15px;
}

/* line 77, ../sass/modules/_pages.scss */
.path-search #search-form .button, .path-search #search-form .main-container .region.region-content .view-blogs .views-row .views-field-view-node a, .main-container .region.region-content .view-blogs .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form .main-container .region.region-content .view-videos .views-row .views-field-view-node a, .main-container .region.region-content .view-videos .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form .main-container .region.region-content ._view-gallery .views-row .views-field-view-node a, .main-container .region.region-content ._view-gallery .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form .main-container .region.region-content .view-news .views-row .views-field-view-node a, .main-container .region.region-content .view-news .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form .main-container .region.region-content .view-in-the-news .views-row .views-field-view-node a, .main-container .region.region-content .view-in-the-news .views-row .views-field-view-node .path-search #search-form a,
.path-search #search-form .main-container .region.region-content .view-latest-news .views-row .views-field-view-node a,
.main-container .region.region-content .view-latest-news .views-row .views-field-view-node .path-search #search-form a,
.path-search #search-form .main-container .region.region-content .view-video-gallery .views-row .views-field-view-node a,
.main-container .region.region-content .view-video-gallery .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form .main-container .region.region-content .view-featured-article .views-row .views-field-view-node a, .main-container .region.region-content .view-featured-article .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form .main-container .region.region-content .view-feeds .views-row .views-field-view-node a, .main-container .region.region-content .view-feeds .views-row .views-field-view-node .path-search #search-form a, .path-search #search-form #page-header .views-field.views-field-nothing .more a, #page-header .views-field.views-field-nothing .more .path-search #search-form a, .path-search #search-form .about .row div a, .about .row div .path-search #search-form a {
  padding: 4px 10px !important;
  font-size: 16px !important;
}

/* line 82, ../sass/modules/_pages.scss */
.crm-container .crm-section .label {
  color: #000000;
}

@media (min-width: 768px) {
  /* line 87, ../sass/modules/_pages.scss */
  #header-branding .container {
    width: 96% !important;
  }
}
@media (min-width: 992px) {
  /* line 97, ../sass/modules/_pages.scss */
  .about .container,
  .banner .container,
  .promobanner .container,
  .activity .container {
    width: 83.33% !important;
  }

  /* line 101, ../sass/modules/_pages.scss */
  .main-container.container {
    width: 83.33% !important;
  }

  /* line 104, ../sass/modules/_pages.scss */
  .paragraph .container {
    width: 100% !important;
  }
}
/* line 109, ../sass/modules/_pages.scss */
.withImage .bImage {
  position: relative;
  margin-bottom: 20px;
}
/* line 112, ../sass/modules/_pages.scss */
.withImage .bImage img {
  width: 100%;
}
/* line 115, ../sass/modules/_pages.scss */
.withImage .bImage .field.field--name-field-header-image {
  height: 400px;
}
/* line 118, ../sass/modules/_pages.scss */
.withImage .bImage #pTitle {
  text-align: center;
}
/* line 120, ../sass/modules/_pages.scss */
.withImage .bImage #pTitle .page-header {
  display: inline-block;
  background: #000000;
  margin: -30px auto 0;
  padding: 2px 10px;
  font-size: 48px;
  color: #ffffff;
  font-family: "league-gothic";
  text-transform: uppercase;
}
/* line 131, ../sass/modules/_pages.scss */
.withImage .bImage .region-header_,
.withImage .bImage #pTitle_ {
  text-align: left;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
/* line 141, ../sass/modules/_pages.scss */
.withImage .bImage .region-header_ .page-header,
.withImage .bImage #pTitle_ .page-header {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #ffffff;
  font-family: "league-gothic";
  text-transform: uppercase;
  border: 0px solid;
  align-items: center;
  margin: 20px auto !important;
  text-align: left;
}
/* line 153, ../sass/modules/_pages.scss */
.withImage .bImage .region-header_ .breadcrumb,
.withImage .bImage #pTitle_ .breadcrumb {
  display: none;
}

/* line 160, ../sass/modules/_pages.scss */
.withOutImage #pTitle {
  text-align: center;
}

/* line 165, ../sass/modules/_pages.scss */
body {
  overflow-x: hidden;
}

/* line 169, ../sass/modules/_pages.scss */
.shariff {
  margin-top: 20px;
}

/* line 173, ../sass/modules/_pages.scss */
.main-container .region-content, ._field.field-name-body, .shariff {
  width: 900px;
  margin: 10px auto;
}

/* line 180, ../sass/modules/_pages.scss */
.activity .container .row {
  margin-right: -8px !important;
  margin-left: -12px !important;
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
  /* line 187, ../sass/modules/_pages.scss */
  #page-header .views-field.views-field-nothing {
    left: -36px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 194, ../sass/modules/_pages.scss */
  .main-container .region-content, ._field.field-name-body, .shariff {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 200, ../sass/modules/_pages.scss */
  .main-container .region-content .field--name-body, ._field.field-name-body, .shariff {
    width: 100% !important;
  }

  /* line 204, ../sass/modules/_pages.scss */
  .logo img {
    width: 320px !important;
  }

  /* line 208, ../sass/modules/_pages.scss */
  #block-homepagecounter .col-sm-4 {
    width: 31.333% !important;
  }
}
/* line 214, ../sass/modules/_pages.scss */
#block-mobilemenuicon-2 {
  transition: all 0.3s linear;
}

/* line 218, ../sass/modules/_pages.scss */
#block-mobilemenuicon-2::after {
  transition: all 0.3s linear;
}

/* line 224, ../sass/modules/_pages.scss */
.field--name-field-related, .shariff {
  padding-top: 35px;
}

/* line 227, ../sass/modules/_pages.scss */
.user-logged-in .log {
  display: none;
}

/* line 231, ../sass/modules/_pages.scss */
#block-twitterfeedsblock {
  overflow: scroll;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 236, ../sass/modules/_pages.scss */
  .view-staff-board-of-directors .views-row {
    width: 100% !important;
  }

  /* line 240, ../sass/modules/_pages.scss */
  .help-menu-mobile {
    float: none !important;
    text-align: center;
  }

  /* line 245, ../sass/modules/_pages.scss */
  .help-menu-mobile ul {
    padding: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 252, ../sass/modules/_pages.scss */
  .view-staff-board-of-directors .views-row {
    width: 24% !important;
  }
}
/* line 256, ../sass/modules/_pages.scss */
.adminimal .ui-dialog .ui-dialog-titlebar-close {
  opacity: 1 !important;
}

/* line 6, ../sass/modules/_header.scss */
.logo img {
  width: 390px;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 6, ../sass/modules/_header.scss */
  .logo img {
    max-width: 221px;
  }
}

/* line 15, ../sass/modules/_header.scss */
.mobile-close-btn {
  text-align: right;
  padding: 10px 20px 0px;
}
/* line 18, ../sass/modules/_header.scss */
.mobile-close-btn p a {
  font-size: 20px;
  color: black;
}

/* line 25, ../sass/modules/_header.scss */
.front .header-wrap {
  position: absolute;
  background: transparent !important;
}

/* line 32, ../sass/modules/_header.scss */
#header-branding {
  border-bottom: 1px solid #eeee;
}
@media (min-width: 992px) {
  /* line 32, ../sass/modules/_header.scss */
  #header-branding {
    padding: 10px 0px 0px;
  }
}
/* line 37, ../sass/modules/_header.scss */
#header-branding .header-wrap {
  width: 100%;
  z-index: 9;
  padding: 40px 0px 20px;
  background: rgba(0, 81, 145, 0.8);
}
/* line 42, ../sass/modules/_header.scss */
#header-branding .header-wrap .name.navbar-brand {
  display: none;
}
/* line 46, ../sass/modules/_header.scss */
#header-branding .col-xs-4.col-sm-8.col-lg-9 {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 46, ../sass/modules/_header.scss */
  #header-branding .col-xs-4.col-sm-8.col-lg-9 {
    margin-top: 0px;
  }
}

/* line 54, ../sass/modules/_header.scss */
.region.region-branding {
  margin-top: 5px;
}

/*------------------------------<Donate button>-------------------------*/
/* line 62, ../sass/modules/_header.scss */
#header-branding .navbar-brand {
  display: none;
}

/* line 70, ../sass/modules/_header.scss */
.vol-menu, .help-menu-mobile {
  float: right;
  position: relative;
}
/* line 74, ../sass/modules/_header.scss */
.vol-menu ul li, .help-menu-mobile ul li {
  list-style: none;
  list-style-type: none;
  padding: 5px;
  display: inline;
  text-decoration: none;
}
/* line 81, ../sass/modules/_header.scss */
.vol-menu a, .help-menu-mobile a {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 39px;
  display: inline-block;
  height: 42px;
  width: 110px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 100, ../sass/modules/_header.scss */
.vol-menu a:hover, .vol-menu a:focus, .help-menu-mobile a:hover, .help-menu-mobile a:focus {
  opacity: 0.89;
}
/* line 105, ../sass/modules/_header.scss */
.vol-menu .help a, .help-menu-mobile .help a {
  background-color: #005191;
}
/* line 108, ../sass/modules/_header.scss */
.vol-menu .donate a, .help-menu-mobile .donate a {
  background-color: #ff443b;
}

/* line 113, ../sass/modules/_header.scss */
.region.region-hsocial {
  clear: both;
  padding: 18px 5px 0px 0px !important;
}

/* line 118, ../sass/modules/_header.scss */
#navbar {
  display: none;
}

/* line 127, ../sass/modules/_header.scss */
#block-mobilesearch {
  margin-top: -18px;
}

/* line 131, ../sass/modules/_header.scss */
#block-mobilesearch .fa-search {
  color: #fff;
}

/* line 139, ../sass/modules/_header.scss */
.search-block {
  float: right;
  padding: 17px 0px 17px 17px;
}
/* line 142, ../sass/modules/_header.scss */
.search-block a {
  color: black;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 139, ../sass/modules/_header.scss */
  .search-block {
    padding: 22px 10px 17px 17px;
  }
}

/* line 1, ../sass/modules/_megamenu.scss */
#header-branding {
  position: relative;
}
/* line 3, ../sass/modules/_megamenu.scss */
#header-branding .col-xs-4.col-sm-8.col-lg-9 {
  position: inherit;
  position: initial;
}

/* line 8, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu {
  position: inherit;
  position: initial;
  float: right;
  margin-top: 8px;
}
/* line 13, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu h2 {
  display: none;
}
/* line 17, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 {
  position: inherit;
  position: initial;
}
/* line 20, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 > a {
  font-family: "roboto";
  font-size: 13px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px 40px 15px;
  border-bottom: 2px solid #ffffff;
}
/* line 28, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 > a:hover {
  background: transparent;
  color: #F57814;
  border-bottom: 2px solid #F57814;
}
/* line 35, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .dropdown-toggle .fa-caret-down,
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .dropdown-toggle .fa-caret-up {
  display: none;
}
/* line 42, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2:hover .dropdown-toggle .fa-caret-up {
  display: none;
}
/* line 46, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2:hover .dropdown-toggle .fa-caret-down {
  display: none;
}
/* line 51, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row {
  width: 100%;
  display: block;
  padding: 0px;
  border: 0px solid;
  background: rgba(242, 242, 242, 0.96);
}
/* line 57, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown {
  margin-left: 40%;
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  transition: .3s;
  opacity: 0;
  overflow: hidden;
  height: 0px;
}
/* line 66, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown .nav-level-3.col-md-3.col-lg-4 > a {
  border-top: 1px solid #FFF;
  display: block;
  padding: 12px 15px 12px 2px;
  padding: .75rem .9375rem .75rem .125rem;
  font-family: "roboto-condensed";
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 76, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown .nav-level-3.col-md-3.col-lg-4 > a:hover {
  color: #F57814;
}
/* line 80, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown .nav-level-3.col-md-3.col-lg-4 .row-level-3 {
  padding: 0px 4px;
}
/* line 82, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown .nav-level-3.col-md-3.col-lg-4 .row-level-3 .nav-level-4 {
  display: block;
}
/* line 84, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown .nav-level-3.col-md-3.col-lg-4 .row-level-3 .nav-level-4 a {
  font-family: "roboto-condensed";
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 700;
}
/* line 89, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2 .nav.dropdown-menu.row-level-2.row .main-menu__dropdown .nav-level-3.col-md-3.col-lg-4 .row-level-3 .nav-level-4 a:hover {
  color: #F57814;
}
/* line 100, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav-level-1.nav.navbar-nav .dropdown.nav-level-2:hover .main-menu__dropdown.is-expanded {
  opacity: 1 !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
  height: auto !important;
  padding: 20px 0px 50px;
}

/* line 114, ../sass/modules/_megamenu.scss */
.menu-image-block .view-menu-image {
  margin: 0px !important;
}
/* line 117, ../sass/modules/_megamenu.scss */
.menu-image-block .views-row {
  margin-right: 5px;
}
/* line 121, ../sass/modules/_megamenu.scss */
.menu-image-block .views-row .views-field.views-field-title a {
  font-family: "roboto-condensed";
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 0px;
}
/* line 127, ../sass/modules/_megamenu.scss */
.menu-image-block .views-row .views-field.views-field-title a:hover {
  color: #F57814;
}

/* line 133, ../sass/modules/_megamenu.scss */
.mmenu-icon {
  float: right;
  margin: 10px 0px 0px 15px;
}

/* line 137, ../sass/modules/_megamenu.scss */
.oe-mega-main-menu .nav .open > a {
  background: #fff !important;
}

/* line 1, ../sass/modules/_mobilemenu.scss */
.active.mobile-main-menu {
  max-height: 700px;
  transition: max-height 1.25s ease-in;
}

/* line 5, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu {
  background: #ffffff;
  overflow: hidden;
  max-height: 0px;
  padding: 0px 15px;
  transition: max-height 1.15s ease-out;
}
/* line 11, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/* line 15, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav .dropdown-menu {
  position: relative;
  border: 0px;
  box-shadow: 0 0px 0px transparent;
}
/* line 20, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav li {
  padding: 0px;
  width: 100%;
  border-top: 1px solid #ccc;
}
/* line 24, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav li a {
  background: #ffffff;
  padding: 10px;
  display: block;
  color: #505050;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 32, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav li a:focus {
  background: #ffffff !important;
}
/* line 36, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav li ul {
  padding-left: 10px;
}
/* line 38, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav li ul li {
  display: block;
  border-top: 0px solid #ccc;
}
/* line 41, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .nav li ul li a {
  font-weight: normal;
}
/* line 51, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu span {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
  width: 25px;
  z-index: 21;
  color: transparent;
  cursor: pointer;
  background: url(../images/plus.png);
}
/* line 62, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .expended > span {
  background: url(../images/minus.png);
}
/* line 65, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .menu-image-block {
  display: none;
}
/* line 68, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .fa-caret-up {
  display: none;
}
/* line 71, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .open .fa-caret-down {
  display: none;
}
/* line 74, ../sass/modules/_mobilemenu.scss */
.mobile-main-menu .open .fa-caret-up {
  display: inline-block;
}

/* line 1, ../sass/modules/_mobilemenu_old.scss */
#menuwarp #superfish-main-accordion {
  display: block;
}

/* line 4, ../sass/modules/_mobilemenu_old.scss */
.mobile-menu-icon {
  float: right;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 4, ../sass/modules/_mobilemenu_old.scss */
  .mobile-menu-icon {
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 4, ../sass/modules/_mobilemenu_old.scss */
  .mobile-menu-icon {
    margin-top: 17px;
  }
}

/* line 15, ../sass/modules/_mobilemenu_old.scss */
#menuwarp {
  position: fixed;
  right: -500px;
  background: #fff;
  z-index: 999;
  min-width: 0px;
  height: 100%;
  width: 0px;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}
/* line 25, ../sass/modules/_mobilemenu_old.scss */
#menuwarp #superfish-main-menu-accordion {
  display: block;
}
/* line 28, ../sass/modules/_mobilemenu_old.scss */
#menuwarp .sf-accordion-toggle.sf-style-none {
  display: none;
}

/* line 33, ../sass/modules/_mobilemenu_old.scss */
#menuwarp.active {
  right: 0px;
  min-width: 100%;
}

/* line 39, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .close-icon a {
  font-size: 24px;
  color: #939598;
}
/* line 47, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 {
  width: 100%;
  float: left;
  display: block;
  line-height: 24px;
}
/* line 53, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 a {
  width: 100% !important;
  margin-bottom: 0px;
  color: #000000;
  font-family: "league-gothic";
  font-size: 20px;
}
/* line 59, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 a:hover {
  color: #539ed0;
}
/* line 63, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 ul {
  padding: 0px;
}
/* line 65, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 ul li {
  display: block;
}
/* line 67, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 ul li a {
  font-size: 16px;
  font-family: "roboto";
}
/* line 70, ../sass/modules/_mobilemenu_old.scss */
.region.region-navigation1 .main-menu-block .menu .sf-depth-1 ul li a:hover {
  color: #539ed0;
}

/*--------------<menu>----------------*/
/* line 2, ../sass/modules/_navigation.scss */
.tb-megamenu .nav > li {
  margin-left: 0;
}

/* line 5, ../sass/modules/_navigation.scss */
.tb-megamenu .field-content a {
  padding: 3px 0 !important;
}

/* line 12, ../sass/modules/_navigation.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a {
  color: #F57814 !important;
}

/* line 15, ../sass/modules/_navigation.scss */
.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
  background-image: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
  background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
  background-color: transparent !important;
}

/* line 21, ../sass/modules/_navigation.scss */
.tb-megamenu-item.mega.active a {
  background: none repeat scroll 0 0 transparent !important;
}

/* line 25, ../sass/modules/_navigation.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color: #F57814;
}

/* line 28, ../sass/modules/_navigation.scss */
.tb-megamenu-submenu.mega-group-ct.nav-child {
  background: none repeat scroll 0 0 transparent !important;
}

/* line 31, ../sass/modules/_navigation.scss */
.menu-view .views-field-title a {
  font-family: "roboto";
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #4f4f4f;
  padding-left: 0 !important;
}
/* line 38, ../sass/modules/_navigation.scss */
.menu-view .views-field-title a:hover {
  padding: 8px 0px 10px !important;
}

/* line 44, ../sass/modules/_navigation.scss */
.menu-view .views-row {
  margin-right: 10px;
  display: inline-block;
  float: left;
  width: 22%;
}
/* line 49, ../sass/modules/_navigation.scss */
.menu-view .views-row img {
  width: 100%;
}

/* line 53, ../sass/modules/_navigation.scss */
#block-views-menu-content-block h2 {
  color: #4f4f4f;
  font-family: "roboto-condensed";
  font-weight: 700;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 18px;
}

/* line 61, ../sass/modules/_navigation.scss */
.menu-view {
  display: block;
  margin-bottom: 20px !important;
}

/* line 65, ../sass/modules/_navigation.scss */
.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
  color: #F57814 !important;
}

/* line 69, ../sass/modules/_navigation.scss */
.tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li.dropdown.open.active > a:focus, .tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover {
  color: #F57814 !important;
}

/* line 73, ../sass/modules/_navigation.scss */
.tb-megamenu .mega-col-nav .mega-inner {
  padding: 0 !important;
}

/* line 76, ../sass/modules/_navigation.scss */
.tb-megamenu .dropdown-menu li a {
  border-bottom: medium none !important;
  border-top: 1px solid #ffffff !important;
  font-family: "roboto-condensed";
  font-weight: 700 !important;
  color: #4f4f4f;
  font-size: 18px;
  padding: 10px 0 !important;
  text-transform: uppercase;
}
/* line 85, ../sass/modules/_navigation.scss */
.tb-megamenu .dropdown-menu li a:hover {
  color: #F57814 !important;
}

/* line 91, ../sass/modules/_navigation.scss */
.tb-megamenu-submenu ul ul li a {
  text-transform: capitalize !important;
  font-size: 16px !important;
}

/* line 96, ../sass/modules/_navigation.scss */
.tb-megamenu-submenu {
  padding-left: 50% !important;
  width: 100%;
  text-align: left;
  border-bottom: none !important;
  z-index: 1000 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background: none repeat scroll 0 0 rgba(235, 235, 235, 0.9) !important;
}

/* line 111, ../sass/modules/_navigation.scss */
.tb-megamenu-submenu.mega-group-ct.nav-child {
  padding: 0px 0px 8px !important;
}

/* line 114, ../sass/modules/_navigation.scss */
.tb-megamenu-submenu.mega-group-ct.nav-child li a {
  border: medium none !important;
  color: #808080;
  font-size: 18px;
  padding: 0px !important;
  line-height: 22px !important;
}

/* line 122, ../sass/modules/_navigation.scss */
header#header-branding .col-xs-6.col-sm-8.col-lg-10,
.main-menu.contextual-links-region {
  position: inherit;
  position: initial;
}

/* line 128, ../sass/modules/_navigation.scss */
.main-menu {
  float: right;
  margin-top: 3px;
  position: inherit;
  position: initial;
}
/* line 133, ../sass/modules/_navigation.scss */
.main-menu div.contextual-links-wrapper {
  right: 295px !important;
  top: 50px !important;
}
/* line 137, ../sass/modules/_navigation.scss */
.main-menu .tb-megamenu {
  position: inherit;
  position: initial;
  background-color: #ffffff !important;
  width: 100%;
}
/* line 142, ../sass/modules/_navigation.scss */
.main-menu .tb-megamenu .caret {
  display: none !important;
}
/* line 145, ../sass/modules/_navigation.scss */
.main-menu .tb-megamenu .mega-align-justify > .dropdown-menu {
  left: 0px;
  width: 100%;
  top: 94px;
}

/* line 153, ../sass/modules/_navigation.scss */
.user-logged-in .main-menu .tb-megamenu .mega-align-justify > .dropdown-menu {
  top: 94px !important;
}

/* line 156, ../sass/modules/_navigation.scss */
.tb-megamenu .tb-megamenu-item.level-1 {
  display: inline-block !important;
  float: none;
}

/* line 160, ../sass/modules/_navigation.scss */
.tb-megamenu-nav.nav.level-0 {
  text-align: right;
}

/* line 163, ../sass/modules/_navigation.scss */
.tb-megamenu .dropdown .caret {
  margin-left: 2px;
  margin-top: 15px !important;
}

/* line 168, ../sass/modules/_navigation.scss */
.tb-megamenu .nav > li > a {
  background-color: #ffffff !important;
  border: medium none;
  font-family: "roboto";
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 178, ../sass/modules/_navigation.scss */
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
  background-color: #e54e4b;
  color: #F57814 !important;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* line 188, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu {
  background: none;
}
/* line 190, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .nav > li {
  width: 100%;
}
/* line 193, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .mega-nav .mega-group > .mega-group-title,
.main-menu_ .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title,
.main-menu_ .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  padding: 0px;
}
/* line 198, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .dropdown-menu .active > a,
.main-menu_ .tb-megamenu .dropdown-menu .active > a:hover {
  background: none;
  color: #F57814;
}
/* line 203, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .dropdown-menu {
  top: 0px;
  left: 240px;
  background: rgba(0, 81, 145, 0.7);
  border: 0px solid;
}
/* line 208, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .dropdown-menu li > a {
  color: #ffffff;
  border-top: 1px solid #F57814;
}
/* line 211, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .dropdown-menu li > a:hover {
  color: #F57814;
}
/* line 215, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .dropdown-menu li:first-child > a {
  border-top: 0;
}
/* line 219, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu a.fa {
  font-family: "roboto";
}
/* line 222, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu a.fa:before {
  margin-right: 1em;
  font-family: FontAwesome;
  color: #ffffff;
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
/* line 232, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .nav > li > a {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: normal;
  border-right: 0px solid #222;
}
/* line 237, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .nav > li > a:hover, .main-menu_ .tb-megamenu .nav > li > a:focus {
  background: none;
  color: #F57814;
}
/* line 241, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .nav > li > a .fa {
  margin-right: 10px;
}
/* line 245, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .level-2 .dropdown-menu {
  left: 191px !important;
}
/* line 248, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background: none;
  color: #F57814;
}
/* line 252, ../sass/modules/_navigation.scss */
.main-menu_ .tb-megamenu .nav > .dropdown > .dropdown-toggle .caret {
  background: url("../images/arrow.png");
  width: 10px;
  height: 10px;
  background-size: 5px;
  background-repeat: no-repeat;
  margin-top: 8px;
  border: 0px;
  float: right;
}

/* line 1, ../sass/modules/_banner.scss */
#page-header {
  position: relative;
}
/* line 3, ../sass/modules/_banner.scss */
#page-header img {
  width: 100%;
}
/* line 6, ../sass/modules/_banner.scss */
#page-header .views_slideshow_cycle_slide {
  width: 100% !important;
}
/* line 9, ../sass/modules/_banner.scss */
#page-header .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 16, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  left: 0px;
}
/* line 28, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing .field-content {
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
}
/* line 40, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing .title {
  color: #ffffff;
  font-family: "league-gothic";
  text-transform: uppercase;
  font-size: 90px;
  line-height: 80px;
  text-shadow: 1px 1px 0px #333;
}
@media (min-width: 0px) and (max-width: 1199px) {
  /* line 40, ../sass/modules/_banner.scss */
  #page-header .views-field.views-field-nothing .title {
    font-size: 40px !important;
    line-height: 40px;
  }
}
/* line 52, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing .title a {
  color: #ffffff;
  font-family: "league-gothic";
  text-transform: uppercase;
  font-size: 90px;
  text-shadow: 1px 1px 0px #333;
}
@media (min-width: 0px) and (max-width: 1199px) {
  /* line 40, ../sass/modules/_banner.scss */
  #page-header .views-field.views-field-nothing .title {
    font-size: 40px !important;
  }
}
/* line 63, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing .dis {
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
}
/* line 68, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing .more a {
  font-size: 20px;
  padding: 10px 30px;
  font-family: "roboto-condensed";
  margin-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  background: transparent !important;
  border: 1px solid #ffffff !important;
}
/* line 79, ../sass/modules/_banner.scss */
#page-header .views-field.views-field-nothing .more a:hover {
  opacity: 1;
  background: #ffffff !important;
  color: #333 !important;
}
/* line 87, ../sass/modules/_banner.scss */
#page-header .BlueTitl .title {
  background: #005191 !important;
}
/* line 92, ../sass/modules/_banner.scss */
#page-header .LblueTitl .title {
  background: #539ed0 !important;
}
/* line 97, ../sass/modules/_banner.scss */
#page-header .RedTitl .title {
  background: #ff443b !important;
}
/* line 102, ../sass/modules/_banner.scss */
#page-header .YellowTitl .title {
  background: #fcb53e !important;
}
/* line 107, ../sass/modules/_banner.scss */
#page-header .BlackTitl .title {
  background: #000000 !important;
}
/* line 112, ../sass/modules/_banner.scss */
#page-header .OrangeTitl .title {
  background: #F57814 !important;
}

/* line 121, ../sass/modules/_banner.scss */
.front-page-rotor-banner:hover .views_slideshow_controls_text_previous a,
.front-page-rotor-banner:hover .views_slideshow_controls_text_next a {
  opacity: 0.7;
}
/* line 126, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_controls_text_previous a {
  background: transparent url("../images/rotor-left.png") no-repeat scroll center center/80% auto;
  border: medium none !important;
  height: 40px;
  left: 27px;
  position: absolute;
  text-indent: -10000px;
  width: 30px;
  z-index: 30;
  margin-top: 12%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
/* line 139, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_controls_text_previous a:hover {
  opacity: 1;
}
/* line 143, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_controls_text_pause {
  display: none;
}
/* line 146, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_controls_text_next a {
  background: transparent url("../images/rotor-right.png") no-repeat scroll center center/80% auto;
  float: right;
  height: 40px;
  margin-top: 12%;
  position: absolute;
  right: 19px;
  text-indent: -10000px;
  width: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
  opacity: 0;
}
/* line 159, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_controls_text_next a:hover {
  opacity: 1;
}
/* line 164, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-counter {
  background: url("../images/rotor-2.png") no-repeat scroll center center transparent;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  text-indent: -10000px;
  width: 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
/* line 174, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views-slideshow-pager-field-item.active .views-content-counter {
  background: url("../images/rotor-1.png") no-repeat scroll center center transparent;
}
/* line 177, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views-slideshow-pager-fields {
  position: absolute;
  z-index: 10;
  right: 4%;
  bottom: 15px;
}
/* line 183, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views-slideshow-pager-fields div {
  display: inline;
}
/* line 186, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views-slideshow-controls-bottom {
  bottom: 20px;
  right: 0;
  z-index: 20;
}
/* line 191, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_cycle_slide views_slideshow_slide {
  width: 100% !important;
}
/* line 194, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
/* line 197, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_cycle_main .views-slideshow-cycle-main-frame,
.front-page-rotor-banner .views_slideshow_cycle_main .views_slideshow_cycle_teaser_section,
.front-page-rotor-banner .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 203, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
/* line 206, ../sass/modules/_banner.scss */
.front-page-rotor-banner .views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* line 217, ../sass/modules/_banner.scss */
.banner .views-slideshow-cycle-main-frame-row,
.front-page-rotor-banner .views_slideshow_cycle_main .views-slideshow-cycle-main-frame,
.banner .views-field.views-field-field-rotor-image .field-content.scaleUp.animation {
  height: 33.75rem !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  /* line 226, ../sass/modules/_banner.scss */
  #page-header .views-field.views-field-nothing {
    left: 0px !important;
  }

  /* line 229, ../sass/modules/_banner.scss */
  #page-header .views-field.views-field-nothing .title a {
    font-size: 40px !important;
  }
}
/* line 1, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity {
  padding: 50px 0px 35px;
}
/* line 3, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .container {
  padding: 0px;
}
/* line 6, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .block {
  height: 300px;
  border: 1px solid #005191;
  padding: 15px;
  overflow: hidden;
}
@media (min-width: 0px) {
  /* line 18, ../sass/modules/_fb_twitter.scss */
  .path-frontpage .activity .col-xs-12.col-sm-6.col-md-3.col-lg-3.row-eq-height {
    margin-bottom: 15px;
  }
}
/* line 22, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region {
  width: 100%;
  overflow: hidden;
}
/* line 26, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity iframe {
  height: 260px !important;
  width: 100% !important;
}
/* line 31, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region.region-events .views-row {
  padding-bottom: 5px;
}
/* line 34, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region.region-events .view {
  background: #ccc;
  padding: 10px;
}
/* line 39, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region.region-events .views-field.views-field-title a, .path-frontpage .activity .region.region-events .views-field.views-field-title span {
  font-weight: bold;
  color: #000000;
}
/* line 44, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region.region-events .views-field.views-field-start-date {
  font-size: 12px;
}
/* line 48, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region.region-twitter .twitter-feed {
  padding: 0px;
  max-height: 265px;
  overflow: hidden;
}
/* line 53, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .region.region-twitter .twitter-feed li {
  background: url(../images/twitter-32.png);
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: 30px;
  display: inline-block;
  padding-bottom: 10px;
}
/* line 63, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .news-block .views-field.views-field-title a {
  font-weight: bold;
  color: #000000;
}
/* line 68, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .news-block .views-field.views-field-view-node a {
  color: #005191;
}
/* line 71, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .news-block .contextual-region {
  position: inherit;
}
/* line 74, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .news-block .views-row {
  padding-bottom: 20px;
}
/* line 78, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .view-footer {
  position: absolute;
  bottom: 10px;
  right: 30px;
}
/* line 82, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .view-footer a {
  color: #F57814;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 88, ../sass/modules/_fb_twitter.scss */
.path-frontpage .activity .contextual-region {
  position: inherit;
}

/* line 1, ../sass/modules/_about.scss */
.about {
  text-align: center;
}
/* line 5, ../sass/modules/_about.scss */
.about h2 {
  text-transform: uppercase;
  color: #005191;
  font-family: "league-gothic";
  font-size: 68px;
}
/* line 12, ../sass/modules/_about.scss */
.about .region.region-about {
  padding: 4px 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 12, ../sass/modules/_about.scss */
  .about .region.region-about {
    padding: 0px 0px 40px;
  }
}
/* line 18, ../sass/modules/_about.scss */
.about .region.region-about p {
  color: #111;
  font-weight: 700;
}
/* line 23, ../sass/modules/_about.scss */
.about h3 {
  color: #000000;
  font-size: 68px;
  font-weight: 100;
  font-family: "roboto";
}

/* line 4, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row, .main-container .region.region-content .view-board-of-directors .views-row, .main-container .region.region-content .view-staff-board-of-director .views-row {
  margin: 1%;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 10, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row img, .main-container .region.region-content .view-board-of-directors .views-row img, .main-container .region.region-content .view-staff-board-of-director .views-row img {
  width: 100%;
  margin-bottom: -5px;
}
/* line 14, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field.views-field-field-name, .main-container .region.region-content .view-gallery .views-row .views-field.views-field-title a, .main-container .region.region-content .view-board-of-directors .views-row .views-field.views-field-field-name, .main-container .region.region-content .view-board-of-directors .views-row .views-field.views-field-title a, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field.views-field-field-name, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field.views-field-title a {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #333;
}
/* line 25, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-view-node a, .main-container .region.region-content .view-gallery .views-row .views-field-nothing, .main-container .region.region-content .view-board-of-directors .views-row .views-field-view-node a, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-view-node a, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing {
  position: absolute;
  padding-top: 26%;
  text-align: center;
  background: #005191;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 40px;
  color: #fff;
  transform: translateY(100%);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 38, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-gallery .views-row .views-field-nothing:hover, .main-container .region.region-content .view-board-of-directors .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing:hover, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing:hover {
  transform: translateY(0%);
}
/* line 43, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row:hover .views-field-view-node a, .main-container .region.region-content .view-gallery .views-row:hover .views-field-nothing, .main-container .region.region-content .view-board-of-directors .views-row:hover .views-field-view-node a, .main-container .region.region-content .view-board-of-directors .views-row:hover .views-field-nothing, .main-container .region.region-content .view-staff-board-of-director .views-row:hover .views-field-view-node a, .main-container .region.region-content .view-staff-board-of-director .views-row:hover .views-field-nothing {
  transform: translateY(0%);
}
/* line 47, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing {
  padding: 19% 1% 1% 1%;
  font-size: 14px;
  background: #005191;
}
/* line 51, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing .name, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing .name, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing .name {
  font-size: 20px;
  font-weight: bold;
}
/* line 55, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing .bio a, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing .bio a, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing .bio a {
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s linear 0s;
  font-size: 13px;
}
/* line 59, ../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing .bio a:hover, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing .bio a:hover, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing .bio a:hover {
  color: #fff;
}

/* line 76, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row {
  margin: 1%;
  width: 31%;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 83, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row img {
  width: 100%;
  margin-bottom: -5px;
}
/* line 87, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field.views-field-field-name, .view-staff-board-of-directors .views-row .views-field.views-field-title a {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #333;
}
/* line 98, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-view-node a, .view-staff-board-of-directors .views-row .views-field-nothing {
  position: absolute;
  padding-top: 26%;
  text-align: center;
  background: #005191;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 40px;
  color: #fff;
  transform: translateY(100%);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 111, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-view-node a:hover, .view-staff-board-of-directors .views-row .views-field-nothing:hover {
  transform: translateY(0%);
}
/* line 116, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row:hover .views-field-view-node a, .view-staff-board-of-directors .views-row:hover .views-field-nothing {
  transform: translateY(0%);
}
/* line 120, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing {
  padding: 19% 1% 1% 1%;
  font-size: 14px;
  background: #005191;
}
/* line 124, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .name {
  font-size: 20px;
  font-weight: bold;
}
/* line 128, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .bio a {
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s linear 0s;
  font-size: 13px;
}
/* line 132, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .bio a:hover {
  color: #fff;
}

/* line 140, ../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .bio a {
  color: #fff !important;
}

/* line 144, ../sass/modules/bod.scss */
.name a {
  color: #fff !important;
}

/* line 3, ../sass/modules/_search.scss */
.search-warp {
  text-align: center;
  transition: all 0.9s ease-in-out 0s;
  max-height: 0px;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 242, 242, 0.95);
  z-index: 99;
}
/* line 18, ../sass/modules/_search.scss */
.search-warp form#search-block-form {
  max-width: 500px;
  margin: 0 auto;
}
/* line 21, ../sass/modules/_search.scss */
.search-warp form#search-block-form .form-search,
.search-warp form#search-block-form #edit-search-block-form--2 {
  height: 60px;
  font-size: 20px;
  border-radius: 0px;
}
/* line 27, ../sass/modules/_search.scss */
.search-warp form#search-block-form .btn.btn-primary {
  Background: #539ed0;
  Border: 1px solid #539ed0;
  Font-size: 19px;
  line-height: 28px;
  Padding: 15px;
  Border-radius: 0px;
}
/* line 36, ../sass/modules/_search.scss */
.search-warp .search-block-close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
}
/* line 41, ../sass/modules/_search.scss */
.search-warp .search-block-close a {
  color: #000000;
  font-size: 24px;
}

/* line 48, ../sass/modules/_search.scss */
.search-warp.closed {
  max-height: 100%;
  padding-top: 24%;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 48, ../sass/modules/_search.scss */
  .search-warp.closed {
    padding-top: 65% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 48, ../sass/modules/_search.scss */
  .search-warp.closed {
    padding-top: 29% !important;
  }
}

/* line 1, ../sass/modules/_promobanner.scss */
.promobanner {
  overflow: hidden;
}
/* line 3, ../sass/modules/_promobanner.scss */
.promobanner .views-row {
  padding: 0px;
  width: calc(50% - 8px);
  margin: 3px;
}
/* line 7, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field.views-field-field-promo-image {
  width: 100%;
}
/* line 9, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field.views-field-field-promo-image img {
  width: 100%;
}
/* line 13, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field-title {
  z-index: 10;
  position: absolute;
  top: 17px;
}
/* line 17, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field-title a {
  background: none repeat scroll 0 0 rgba(0, 77, 150, 0.7);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  padding: 19px 55px 17px 50px;
  text-align: center;
  text-decoration: none;
  font-family: "league-gothic";
}
/* line 28, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field.views-field-nothing a {
  background-color: #ffffff;
  bottom: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  font-family: "league-gothic";
  font-size: 19px;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url("../images/know-more-triange.png");
  background-origin: padding-box;
  background-position: 73px center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 15px 15px;
  color: #004d96;
  padding: 12px 28px 12px 10px;
  text-decoration: none;
  text-transform: capitalize;
}
/* line 50, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field.views-field-body .field-content {
  height: 100%;
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background: none repeat scroll 0 0 rgba(0, 77, 150, 0.5);
  opacity: 0;
  transform-origin: 50% 100% 0;
  transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -webkit-transform-origin: 50% 100% 0;
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
@media (min-width: 0px) and (max-width: 991px) {
  /* line 50, ../sass/modules/_promobanner.scss */
  .promobanner .views-row .views-field.views-field-body .field-content {
    display: none;
  }
}
/* line 70, ../sass/modules/_promobanner.scss */
.promobanner .views-row .views-field.views-field-body .field-content p {
  line-height: 27px;
  margin: 0;
  text-align: justify;
  word-spacing: 4px;
  position: absolute;
  top: 22%;
  left: 3%;
  right: 20px;
  font-size: 22px;
}
/* line 85, ../sass/modules/_promobanner.scss */
.promobanner .views-row:hover .views-field.views-field-body .field-content {
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 3, ../sass/modules/_promobanner.scss */
  .promobanner .views-row {
    width: 100%;
    margin: 0px;
    margin-bottom: 2px;
  }
}

/* line 1, ../sass/modules/_footer.scss */
.footer-wrap {
  background: #e1e1e1;
  color: #005191;
  padding: 60px 0px;
  text-align: center;
}
/* line 2, ../sass/modules/_footer.scss */
.footer-wrap .container {
  max-width: 1320px;
  width: 100%;
  padding: 0px 15px;
}
/* line 6, ../sass/modules/_footer.scss */
.footer-wrap .container .col-lg-3 {
  border-right: 1px solid #acacac;
}
/* line 8, ../sass/modules/_footer.scss */
.footer-wrap .container .col-lg-3 .region {
  width: 100%;
}
/* line 12, ../sass/modules/_footer.scss */
.footer-wrap .container .col-lg-3.last {
  border-right: 0px solid !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 1, ../sass/modules/_footer.scss */
  .footer-wrap {
    padding: 20px 0px 0px;
  }
}
/* line 24, ../sass/modules/_footer.scss */
.footer-wrap .region.region-footer4 {
  text-align: right;
}
/* line 27, ../sass/modules/_footer.scss */
.footer-wrap .footer-top.container {
  padding-top: 20px;
}
/* line 30, ../sass/modules/_footer.scss */
.footer-wrap #search-block-form {
  width: 50%;
  float: right;
}
/* line 34, ../sass/modules/_footer.scss */
.footer-wrap .block-title,
.footer-wrap h2 {
  color: #005191;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "league-gothic";
}
@media (min-width: 768px) and (max-width: 767888888px) {
  /* line 34, ../sass/modules/_footer.scss */
  .footer-wrap .block-title,
  .footer-wrap h2 {
    margin-top: 0px;
  }
}
/* line 46, ../sass/modules/_footer.scss */
.footer-wrap .region.region-search {
  text-align: right;
}
/* line 48, ../sass/modules/_footer.scss */
.footer-wrap .region.region-search a {
  color: #eb7203;
}
/* line 50, ../sass/modules/_footer.scss */
.footer-wrap .region.region-search a:hover {
  color: #004d96;
}
/* line 58, ../sass/modules/_footer.scss */
.footer-wrap .nav > li > a {
  color: #005191;
  padding: 3px 0px;
  font-size: 13px;
  word-wrap: break-word;
  background: none !important;
}
/* line 65, ../sass/modules/_footer.scss */
.footer-wrap .nav > li > a:hover {
  color: #005191;
}
/* line 69, ../sass/modules/_footer.scss */
.footer-wrap .nav > li {
  display: block;
}
/* line 72, ../sass/modules/_footer.scss */
.footer-wrap .copyright-block p {
  color: gray;
}
/* line 76, ../sass/modules/_footer.scss */
.footer-wrap .provided-by p a {
  color: #005191;
}
/* line 79, ../sass/modules/_footer.scss */
.footer-wrap .provided-by p a:hover {
  text-decoration: underline !important;
}

/* line 87, ../sass/modules/_footer.scss */
.footer-bottom .footer-contactus a {
  color: #005191 !important;
}
/* line 90, ../sass/modules/_footer.scss */
.footer-bottom .footer-contactus a:hover {
  color: #005191 !important;
}
/* line 95, ../sass/modules/_footer.scss */
.footer-bottom .footer-contactus p {
  color: #005191 !important;
}

/* line 100, ../sass/modules/_footer.scss */
.footer-logo img {
  width: 150px;
}

/* line 103, ../sass/modules/_footer.scss */
.footer-last {
  background: #e1e1e1;
  border-top: 0px solid #ccc;
  color: #005191;
  padding: 10px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 103, ../sass/modules/_footer.scss */
  .footer-last {
    text-align: center;
  }
}
/* line 111, ../sass/modules/_footer.scss */
.footer-last a {
  color: #005191;
}
/* line 114, ../sass/modules/_footer.scss */
.footer-last a:hover {
  color: #0053ba !important;
  transition: background 250ms ease-in-out,transform 150ms ease;
}
/* line 122, ../sass/modules/_footer.scss */
.footer-last .container {
  padding: 0px 15px;
}
/* line 127, ../sass/modules/_footer.scss */
.footer-last .region.region-provider {
  text-align: right;
  padding: 10px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 127, ../sass/modules/_footer.scss */
  .footer-last .region.region-provider {
    text-align: center;
  }
}
/* line 134, ../sass/modules/_footer.scss */
.footer-last .region.region-copyright {
  padding: 10px 0px;
}

/* line 140, ../sass/modules/_footer.scss */
.social-media-block {
  text-align: center;
}
/* line 142, ../sass/modules/_footer.scss */
.social-media-block p a {
  text-align: center;
  line-height: 32px;
  padding: 0px 0px 6px 5px;
  border-radius: 50%;
  font-size: 18px;
  color: #005191;
  margin-right: 5px;
  transition: all 0.3s linear 0s;
  display: inline-block;
}
/* line 156, ../sass/modules/_footer.scss */
.social-media-block p a:hover {
  color: #005191;
  color: #0053ba !important;
  transition: background 250ms ease-in-out,transform 150ms ease;
}

/* line 168, ../sass/modules/_footer.scss */
.user-logged-in .menu--footer-1 li:nth-child(5) {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 175, ../sass/modules/_footer.scss */
  .footer-wrap .container .col-lg-3 {
    width: 24.5% !important;
  }
}
/* line 180, ../sass/modules/_footer.scss */
.footer-wrap .nav > li > a:hover {
  color: #0053ba !important;
  transition: background 250ms ease-in-out,transform 150ms ease;
}

/* line 186, ../sass/modules/_footer.scss */
* {
  margin: 0;
}

/* line 190, ../sass/modules/_footer.scss */
.dialog-off-canvas-main-canvas,
html, body {
  height: 100%;
}

/* line 194, ../sass/modules/_footer.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -299px;
}

/* line 199, ../sass/modules/_footer.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 203, ../sass/modules/_footer.scss */
.footer-section, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 299px;
}

/* line 7, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-accordion .paragraph {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* line 15, ../sass/paragraph_types/_pages.scss */
.paragraph {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

/* line 22, ../sass/paragraph_types/_pages.scss */
.paragraph h2 {
  font-size: 22px !important;
  color: #005191 !important;
}

/* line 30, ../sass/paragraph_types/_pages.scss */
.paragraph .nav-tabs > li > a {
  font-size: 20px !important;
  color: #539ecf !important;
  font-weight: bold;
}

/* line 41, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-carousel .carousel-indicators {
  bottom: -1px !important;
}

/* line 50, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-accordion .panel-title a {
  font-size: 20px;
  color: #539ecf;
}
/* line 55, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-accordion .field--name-bp-text {
  color: #000 !important;
}
/* line 59, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-accordion .panel-title a::after {
  background-color: transparent !important;
  content: url("https://haboob.oneeach.org/sites/haboob.oneeach.org/files/plus.png") !important;
  background-position: right bottom !important;
  background-size: 38px auto;
  float: right;
  height: 35px;
  margin-top: 3px;
  width: 65px;
  right: 0;
  top: 2px;
  background-repeat: no-repeat;
}

/* line 77, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-webform {
  display: inline-block;
}

/* line 84, ../sass/paragraph_types/_pages.scss */
.paragraph--type--bp-accordion .container {
  width: 100%;
}

/* line 88, ../sass/paragraph_types/_pages.scss */
.shariff-button {
  text-align: center;
}

/* line 92, ../sass/paragraph_types/_pages.scss */
.field--name-bp-text {
  padding: 10px;
}

/* line 96, ../sass/paragraph_types/_pages.scss */
.shariff .svg-inline--fa {
  font-size: 16px !important;
}

/* line 100, ../sass/paragraph_types/_pages.scss */
.shariff .twitter .fa-twitter {
  font-size: 16px !important;
}

/* line 104, ../sass/paragraph_types/_pages.scss */
.shariff .facebook .fa-facebook-f {
  font-size: 16px !important;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 3, ../sass/paragraph_types/layouts/_paragraph_mob.scss */
  .shariff .svg-inline--fa {
    font-size: 16px !important;
    margin-top: 9px !important;
  }
}
