{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% set attributes = attributes.addClass(['nav-level-1', 'nav', 'navbar-nav']) %}
    <ul{{ attributes }}>
    {% for item in items %}
      {% set ia = item.attributes %}
      {% set ia = ia.addClass('dropdown nav-level-2') %}
      <li{{ item.attributes }}>
        {% if item.below %}
          <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.url }}" aria-expanded="false">
            {{ item.title }}
            {#<b class="caret"></b>#}
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a> 
           <a href="{{ item.url }}">
            {{ item.title }}
          </a> -->
{{ link(item.title, item.url) }}
          {{ menus.menu_links_level_2(item.below, attributes, menu_level + 1) }}
        {% else %}
        <!--  <a href="{{ item.url }}">
            {{ item.title }}
          </a> -->
{{ link(item.title, item.url) }}
        {% endif %}
      </li>
    {% endfor %}
      {# Search icon #}
      <!--<li class="nav-level-2 site-search hidden-xs hidden-sm">
        <a class="btn btn-link" data-toggle="collapse" data-target=".page-head__search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>-->
    </ul>
  {% endif %}
{% endmacro %}

{% macro menu_links_level_2(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="nav dropdown-menu row-level-2 row">
    <div class="main-menu__dropdown">
    {% for item in items %}
      {% set ia = item.attributes.addClass(['nav-level-3', 'col-md-3', 'col-lg-4', 'menu-item-' ~ item.title|clean_class]) %}
      <li{{ ia }}>
        {% if item.below %}
          <a href="{{ item.url }}">
            <div class="section-icon"></div>
            {{ item.title }}
          </a>
          {{ menus.menu_links_level_3(item.below, item, attributes, menu_level) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
      </li>
    {% endfor %}
    </div>
    </ul>
  {% endif %}
{% endmacro %}

{% macro menu_links_level_3(items, parent, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="row-level-3">
      {% set ia = parent.attributes %}
      {% set ia = ia.addClass('nav-level-4') %}
      {% for item in items %}
        {% set ia = item.attributes %}
        {% set ia = ia.addClass('nav-level-4') %}
        <li{{ ia }}>
          {{ link(item.title, item.url) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
