{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

<section class="page-wrap">
{% if page.searchr %}
<section class="search-warp" id="searchr" >
  <div class="container">
     {{ page.searchr }}
   </div>
</section>
{% endif %}

{% if page.signupb %}
 <section class="signup-warp" id="signupb" >
  <div class="container">
        {% block signup %}
            {{ page.signupb }}
        {% endblock %}
   </div>
 </section>
{% endif %}

{% if page.navigation1 %}
 <section class="menu-warp hidden-lg" id="menuwarp" >
  {% block navigation1 %}
      {{ page.navigation1 }}
  {% endblock %}
 </section>
{% endif %}

<header id="header-branding">
 <div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-4 col-lg-3">
     {% block branding  %}
      {{ page.branding }}
     {% endblock %}
    </div>
    <div class="col-xs-4 col-sm-8 col-lg-9">
     {% block hmenu %}
      {{ page.hmenu }}
     {% endblock %}
     {% block navigation %}
      {{ page.navigation }}
     {% endblock %}
    </div>
  </div>
 </div>
</header>

{% if page.banner %}
  {% block banner %}
    <div class="banner container-fluid" role="banner">
     <div class="row">
      <div role="banner" anima-show-on-scroll="" id="page-header" class="_bp1-group31 _bp1-an-animation-enter26 ">
      {{ page.banner }}
      </div>
     </div>
    </div>
  {% endblock %}
{% endif %}

<div class="bImage">
 <section id="inner-banner-image" class="banner-image outer-wrapper"></section>
 <div class="pTitle" id="pTitle"></div>
</div>

{# Main #}
{% block main %}
  <div role="main" class="main-container container js-quickedit-main-content">
    <div class="row">
      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            {{ page.header }}
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

    </div>
  </div>
{% endblock %}

<section class="about">
  <div class="container">
   <div class="row">
   {% if page.about %}
     {{ page.about }}
   {% endif %}
   </div>
  </div>
</section>

<section class="promobanner">
  <div class="container">
   <div class="row">
    {% if page.promo %}
     {{ page.promo }}
    {% endif %}
   </div>
  </div>
</section>

<section class="activity">
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 row-eq-height">
      {% if page.facebook %}
       {{ page.facebook }}
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 row-eq-height twitter-block">
      {% if page.twitter %}
       {{ page.twitter }}
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 row-eq-height">
      {% if page.events %}
       {{ page.events }}
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 row-eq-height news-block">
      {% if page.news %}
       {{ page.news }}
      {% endif %}
    </div>
   </div>
  </div>
</section>
</section>

<section class="footer-section">
<footer class="footer-wrap footer-bottom">
 <div class="container">
   <div class="row row-eq-height">
    <div class="col-xs-12 col-sm-3 col-lg-3 row-eq-height">
     {{ page.footer }}
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3 row-eq-height">
     {{ page.footer1 }}
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3 row-eq-height" >
     {{ page.footer2 }}
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3 last row-eq-height" >
     {{ page.footer3 }}
    </div>
   </div>
 </div>
</footer>
<div class="footer-last">
 <div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-4">
     {{ page.copyright }}
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
     {{ page.social }}
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4">
     {{ page.provider }}
    </div>
   </div>
 </div>
</div>
</section>

</div>



