@media screen and (min-width: 0px) and (max-width: 767px) {

	#page-header .views-field.views-field-nothing .title a {
    font-size: 40px !important;
}
.shariff .svg-inline--fa {
    font-size: 16px !important;
    margin-top: 9px !important;
   }
 }

