.about {
 text-align: center;
 //font-size: 18px;
 // font-weight: 700;
 h2 {
  text-transform: uppercase;
  color: $blue;
  font-family: $title;
  //font-size: 40px;
  font-size: 68px;
 }
 .region.region-about {
    //padding: 50px 0px 90px;
    padding: 4px 0px 40px;
    @media (min-width: 0px) and (max-width: 767px) {
     padding: 0px 0px 40px;
    }
    p {
     color: #111;
     font-weight: 700;
    }
 }
 h3 {
  color: $black;
  font-size: 68px;
  font-weight: 100;
  font-family: $reg;
 }
 .row div a {
  @extend .button;
 }
}
