#page-header {
 position: relative;
 img {
  width: 100%;
 }
 .views_slideshow_cycle_slide {
  width: 100% !important;
 }
 .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  //height: 540px !important;
 }
 .views-field.views-field-field-image-banner .field-content.scaleUp.animation {
  //height: 540px;
 }
 .views-field.views-field-nothing {
  position: absolute;
  bottom: 50px;
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  left: 0px;
  //top: 9vw;
  @media (min-width: 0px) and (max-width: 767px) {
    //display: none;
  }
  .field-content {
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
     //text-align: center;
    .disc {
     //width: 700px;
     //padding: 10px 20px 20px;
     //margin: 100px auto 0px;
     //background: rgba(0, 0, 0, 0.31);
    }
  }
    .title {
     color: $white;
     font-family: $title;
      text-transform: uppercase;
      font-size: 90px;
      line-height: 80px;
      text-shadow: 1px 1px 0px #333;
      //max-width: 500px;
     @media (min-width: 0px) and (max-width: 1199px) {
          font-size: 40px !important;
          line-height: 40px;
        }
     a {
      color: $white;
      font-family: $title;
      text-transform: uppercase;
      font-size: 90px;
      text-shadow: 1px 1px 0px #333;
     }
        @media (min-width: 0px) and (max-width: 1199px) {
          font-size: 40px !important;
        }
    }
    .dis {
     color: $white;
     font-size: 18px;
     margin-top: 10px;
    }
     .more a {
      @extend .button;
      font-size: 20px;
      padding: 10px 30px;
      font-family: $head;
      margin-top: 10px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      text-transform: capitalize;
      background: transparent !important;
      border: 1px solid $white !important;
      &:hover {
       opacity: 1;
       background: $white !important;
       color: #333 !important;
      }
     }
 }
 .BlueTitl {
  .title {
     background: $blue !important;
  }
 } 
 .LblueTitl {
  .title {
     background: $light-blue !important;
  }
 }
 .RedTitl {
  .title {
     background: $red !important;
  }
 }
 .YellowTitl {
  .title {
     background: $yellow !important;
  }
 }
 .BlackTitl {
  .title {
     background: $black !important;
  }
 }
 .OrangeTitl {
  .title {
     background: $orange !important;
  }
 } 
}

.front-page-rotor-banner {
   //Controls
  &:hover {
   .views_slideshow_controls_text_previous a,
   .views_slideshow_controls_text_next a {
    opacity: 0.7;
   }
  }
  .views_slideshow_controls_text_previous a {
    background: transparent url("../images/rotor-left.png") no-repeat scroll center center / 80% auto;
    border: medium none !important;
    height: 40px;
    left: 27px;
    position: absolute;
    text-indent: -10000px;
    width: 30px;
    z-index: 30;
    margin-top: 12%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    &:hover {
     opacity: 1;
    }
  }
  .views_slideshow_controls_text_pause {
   display: none;
  }
  .views_slideshow_controls_text_next a {
    background: transparent url("../images/rotor-right.png") no-repeat scroll center center / 80% auto;
    float: right;
    height: 40px;
    margin-top: 12%;
    position: absolute;
    right: 19px;
    text-indent: -10000px;
    width: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 3;
    opacity: 0;
   &:hover {
    opacity: 1;
   }
  }
  //counter
  .views-slideshow-controls-bottom .views-slideshow-pager-field-item .views-content-counter {
    background: url("../images/rotor-2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    text-indent: -10000px;
    width: 15px;
    border: 2px solid $white;
    border-radius: 50%;
  }
  .views-slideshow-pager-field-item.active .views-content-counter {
    background: url("../images/rotor-1.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  }
  .views-slideshow-pager-fields {
   position: absolute;
   z-index: 10;
   right: 4%;
   bottom: 15px;
  }
  .views-slideshow-pager-fields div {
    display: inline;
  }
  .views-slideshow-controls-bottom {
    bottom: 20px;
    right: 0;
    z-index: 20;
  }
  .views_slideshow_cycle_slide views_slideshow_slide {
   width: 100% !important;
  }
  .views_slideshow_cycle_main {
   width: 100%;
   float: left;
  .views-slideshow-cycle-main-frame,
  .views_slideshow_cycle_teaser_section, 
  .views-slideshow-cycle-main-frame-row {
   width: 100% !important;
   //height: 540px !important;
  }
  .field-content {
   max-width: 100%;
   width: 100%;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }
 }
}

.banner .views-slideshow-cycle-main-frame-row, 
.front-page-rotor-banner .views_slideshow_cycle_main .views-slideshow-cycle-main-frame, 
.banner .views-field.views-field-field-rotor-image .field-content.scaleUp.animation {
 height: 33.75rem !important;
}



@media (min-width: 0px) and (max-width: 767px) {
#page-header .views-field.views-field-nothing {
	left: 0px !important;
}
        #page-header .views-field.views-field-nothing .title a {
    font-size: 40px !important;
}

}
