.path-frontpage .activity {
 padding: 50px 0px 35px;
 .container {
  padding: 0px;
 }
 .block {
  height: 300px;
  border: 1px solid $blue;
  padding: 15px;
  //position: relative;
  overflow: hidden;
  @media (min-width: 0px) and (max-width: 767px) {
    //opacity: 0 !important;
    //margin-bottom: 15px;
  }
 }
  @media (min-width: 0px) {
   .col-xs-12.col-sm-6.col-md-3.col-lg-3.row-eq-height {
    margin-bottom: 15px;
   }
  }
 .region {
    width: 100%;
    overflow: hidden;
 }
 iframe {
  height: 260px !important;
  width: 100% !important;
 }
 .region.region-events {
  .views-row {
    padding-bottom: 5px;
  }
  .view {
   background: #ccc;
   padding: 10px;
  }
  .views-field.views-field-title {
    a,span {
     font-weight: bold;
     color: $black;
    }
  }
  .views-field.views-field-start-date {
    font-size: 12px;
  }
 }
 .region.region-twitter .twitter-feed {
  padding: 0px; 
  max-height: 265px;
  overflow: hidden; 
 }
 .region.region-twitter .twitter-feed li {
  background: url(../images/twitter-32.png);
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: 30px;
  display: inline-block;
  padding-bottom: 10px;
 }
 .news-block {
  .views-field.views-field-title {
    a {
     font-weight: bold;
     color: $black;
    }
  }
  .views-field.views-field-view-node a {
    color: $blue;
  }
  .contextual-region  {
   position: inherit;
  }
  .views-row {
    padding-bottom: 20px;
  }
 }
 .view-footer {
  position: absolute;
  bottom: 10px;
  right: 30px;
  a {
   color: $orange;
   text-transform: uppercase;
   font-weight: bold;
  }
 }
 .contextual-region {
    position: inherit;
 }
}


