.footer-wrap {
 .container {
  max-width: 1320px;
  width: 100%;
  padding: 0px 15px;
  .col-lg-3 {
   border-right: 1px solid #acacac;
   .region {
    width: 100%;
   }
  }
  .col-lg-3.last {
   border-right: 0px solid !important;
  }
 }
 background: #e1e1e1;
 //color: $light-blue;
 color: $blue;
 padding: 60px 0px;
 text-align: center;
 @media (min-width: 0px) and (max-width: 767px) {
  padding: 20px 0px 0px;
 }
 .region.region-footer4 {
  text-align: right;
 }
 .footer-top.container {
  padding-top: 20px;
 }
 #search-block-form {
  width: 50%;
  float: right;
 }
 .block-title,
  h2 {
  //color: $light-blue;
  color: $blue;
  font-size: 22px;
  text-transform: uppercase;
  //font-weight: bold;
  font-family: $title;
  @media (min-width: 768px) and (max-width: 767888888px) {
   margin-top: 0px;
  }
 }
 .region.region-search {
  text-align: right;
  a {
   color: #eb7203;
   &:hover {
    color: #004d96;
   }
  }
  .one1 a {
      //color: $orange;
  }
 }
 .nav > li > a {
  //color: $light-blue;
  color: $blue;
  padding: 3px 0px;
  font-size: 13px;
  word-wrap: break-word;
  background: none !important;
  &:hover {
   color: $blue;
  }
 }
 .nav > li  {
  display: block;
 }
 .copyright-block p {
  color: gray; 
  }

  .provided-by p a {
   //color: $light-blue;
   color: $blue;
   &:hover {
    //color: $orange;
    text-decoration: underline !important;
   }
  }
 }

.footer-bottom {
.footer-contactus a {
 //color: $light-blue !important; 
 color: $blue !important;
 &:hover {
  color: $blue !important;
 }
}

.footer-contactus p {
 //color: $light-blue !important;
 color: $blue !important;
 }
}
.footer-logo img {
 width: 150px;
}
.footer-last {
 background: #e1e1e1;
 border-top: 0px solid #ccc;
 //color: $light-blue;
 color: $blue;
 @media (min-width: 0px) and (max-width: 767px) {
  text-align: center;
 }
 a {
  //color:  $light-blue;
  color: $blue;
  &:hover {
   //color: $blue;
 color: #0053ba !important;
 transition: background 250ms ease-in-out,transform 150ms ease;

  }
 }
 padding: 10px 0px;
 .container {
  //max-width: 1320px;
  //width: 100%;
  padding: 0px 15px;
 }
 .region.region-provider {
  text-align: right;
  padding: 10px 0px;
  @media (min-width: 0px) and (max-width: 767px) {
    text-align: center;
  }
 }
 .region.region-copyright {
  padding: 10px 0px;
 }
}


 .social-media-block {
  text-align: center;
  p a {
    //width: 40px;
    //height: 40px;
    text-align: center;
    line-height: 32px;
    padding: 0px 0px 6px 5px;
    border-radius: 50%;
    font-size: 18px;
    //color: $light-blue;
    color: $blue;
    margin-right: 5px;
    //border: 3px solid $light-blue;
    transition: all 0.3s linear 0s;
    display: inline-block;
    &:hover {
     //border: 3px solid $light-blue;
     color: $blue;
     color: #0053ba !important;
 transition: background 250ms ease-in-out,transform 150ms ease;
  //background-color: $light-blue;
    }
   }
 }
 
 .user-logged-in {
    .menu--footer-1 {
  li:nth-child(5) {
  display:  none;
  }
}
}

@media (min-width: 768px) and (max-width: 1024px) {
 .footer-wrap .container .col-lg-3 {
  width: 24.5% !important;
 }
}

.footer-wrap .nav > li > a:hover {
 color: #0053ba !important;
 transition: background 250ms ease-in-out,transform 150ms ease;
 }


* {
    margin: 0;
}

.dialog-off-canvas-main-canvas,
html, body {
    height: 100%;
}
 .page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -299px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer-section, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 299px; 
}



