//Header Top
.logo {
 //background-color: rgba(187,176,176,1.0);
 //padding: 10px 20px 10px 0px;
 //margin: 20px 0px 18px 0px !important;
 img {
  width: 390px;
  //width: 90%;
  
  @media (min-width: 0px) and (max-width: 767px) {
    max-width: 221px;
  }
 }
}
.mobile-close-btn {
    text-align: right;
    padding: 10px 20px 0px;
 p a {
  font-size: 20px;
  color: black;
 }
}

.front {
 .header-wrap {
  position: absolute;
  background: transparent !important;
 }
}


#header-branding {
 border-bottom: 1px solid #eeee;
 @media (min-width: 992px) {
  padding: 10px 0px 0px;
 }
 .header-wrap {
  width: 100%;
  z-index: 9;
  padding: 40px 0px 20px;
  background: rgba($blue, 0.8);
  .name.navbar-brand {
   display: none;
  }
 }
 .col-xs-4.col-sm-8.col-lg-9 {
    margin-top: 10px;
  @media (min-width: 0px) and (max-width: 767px) {
    margin-top: 0px;
  }
 }
}

.region.region-branding {
    margin-top: 5px;
}
/*------------------------------<Donate button>-------------------------*/

// Branding Header

#header-branding {
 .navbar-brand {
  display: none;
 }
 .logo.navbar-btn.pull-left {
  //margin: 20px 0px;
 }
}

.vol-menu, .help-menu-mobile {
  float: right;
  position: relative;   
  //clear: both;
  ul li {
   list-style: none;
   list-style-type: none;
   padding: 5px;
   display: inline;
   text-decoration: none;
  }
  a {
   -webkit-border-radius: 0 0 5px 5px;
   border-radius: 5px 5px 5px 5px;
   //font-size: 22px;
   font-size: 17px;
   color: white;
   text-transform: uppercase;
   text-align: center;
   //line-height: 50px;
   line-height: 39px;
   display: inline-block;
   //height: 50px;
   height: 42px;
   //width: 140px;
   width: 110px;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   &:hover,
   &:focus {
    opacity: 0.89;
   }
  }
  .help a {
    background-color: $blue;
  }
  .donate a {
    background-color: $red;
  }
}
 
.region.region-hsocial {
 clear: both;
 padding: 18px 5px 0px 0px !important;
}

#navbar {
 display: none;
}




// Mobile search button //

 #block-mobilesearch {
  margin-top: -18px;
 }
 #block-mobilesearch {
 .fa-search {
  color: #fff;
  }
}


//search

.search-block {
    float: right;
    padding: 17px 0px 17px 17px;
    a {
     color: black;
    }
  @media (min-width: 0px) and (max-width: 767px) {
    padding: 22px 10px 17px 17px;
  }
}
