#header-branding {
 position: relative;
 .col-xs-4.col-sm-8.col-lg-9 {
  position: inherit;
  position: initial;
 }
}
.oe-mega-main-menu {
 position: inherit;
 position: initial;
 float: right;
 margin-top: 8px;
 h2 {
  display: none;
 } 
 .nav-level-1.nav.navbar-nav {
  .dropdown.nav-level-2 {
   position: inherit;
   position: initial;
   > a {
    font-family: "roboto";
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px 40px 15px;
    border-bottom: 2px solid $white;
    &:hover {
     background: transparent;
     color: $orange;
     border-bottom: 2px solid $orange;
    }
   }
   .dropdown-toggle {
    .fa-caret-down,
    .fa-caret-up {
     display: none;
    }
   }
   &:hover {
    .dropdown-toggle {
     .fa-caret-up {
      //display: block;
      display: none;
     }
     .fa-caret-down {
      display: none;
     }
    }  
   }
   .nav.dropdown-menu.row-level-2.row {
    width: 100%;
    display: block;
    padding: 0px;
    border: 0px solid;
    background: rgba(242,242,242,.96);
    .main-menu__dropdown {
     margin-left: 40%;
     -ms-transform: scale(0.65);
     transform: scale(0.65);
     transition: .3s;
     opacity: 0;
     overflow: hidden;
     height: 0px;
     .nav-level-3.col-md-3.col-lg-4 {
      > a {
       border-top: 1px solid #FFF;
       display: block;
       padding: 12px 15px 12px 2px;
       padding: .75rem .9375rem .75rem .125rem;
       font-family: $head;
       color: #4F4F4F;
       font-size: 18px;
       font-weight: 700;
       text-transform: uppercase; 
       &:hover {
        color: $orange;
       } 
      }
      .row-level-3 {
       padding: 0px 4px;
       .nav-level-4 {
        display: block;
        a {
         font-family: $head;
         color: #4F4F4F;
         font-size: 16px;
         font-weight: 700;
         &:hover {
          color: $orange;
         }
        }
       }
      }
     }
    }
   }
   &:hover {
    //.nav.dropdown-menu.row-level-2.row {
    .main-menu__dropdown.is-expanded {
     opacity: 1 !important;
     -ms-transform: scale(1) !important;
     transform: scale(1) !important;
     height: auto !important;
     padding: 20px 0px 50px;
    } 
   }
  }
 }
}


.menu-image-block {
 .view-menu-image {
  margin: 0px !important;
 }
 .views-row {
  //float: left;
  margin-right: 5px;
  //width: 100px;
  .views-field.views-field-title a {
   font-family: $head;
   color: #4F4F4F;
   font-size: 18px;
   font-weight: 300;
   padding: 5px 0px;
   &:hover {
    color: $orange;
   }
  }
 }
}
.mmenu-icon {
 float: right;
 margin: 10px 0px 0px 15px;
}
.oe-mega-main-menu .nav .open > a {
 background: #fff !important;
}
