.active.mobile-main-menu {
 max-height: 700px;
 transition: max-height 1.25s ease-in;
}
.mobile-main-menu {
 background: $white;
 overflow: hidden;
 max-height: 0px;
 padding: 0px 15px;
 transition: max-height 1.15s ease-out;
 .nav {
  padding: 0px;
  margin: 0px;
  width: 100%;
  .dropdown-menu {
    position: relative;
    border: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  }
  li {
   padding: 0px;
   width: 100%;
   border-top: 1px solid #ccc;
   a {
    background: $white;
    padding: 10px;
    //color: $black;
    display: block;
    color: #505050;
    font-size: 14px;
    text-transform: uppercase;
    &:focus {
     background: $white !important;
    }
   }
   ul {
    padding-left: 10px;
    li {
     display: block;
     border-top: 0px solid #ccc;
     a {
      font-weight: normal;
     }
     li a {
      //font-size: 13px;
     }
    }
   }
  }
 }
 span {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
  width: 25px;
  z-index: 21; 
  color: transparent;
  cursor: pointer; 
  background: url(../images/plus.png);
 }
 .expended > span {
  background: url(../images/minus.png);
 }
 .menu-image-block {
  display: none;
 }
 .fa-caret-up {
     display: none;
 }
 .open .fa-caret-down {
     display: none;
 }
 .open .fa-caret-up {
  display: inline-block;
 }
}

