#menuwarp #superfish-main-accordion {
    display: block;
}
.mobile-menu-icon {
 float: right;
  @media (min-width: 768px) and (max-width: 991px) {
    margin-top: 10px;
    margin-left: 10px;
  }
  @media (min-width: 0px) and (max-width: 767px) {
    margin-top: 17px;
  }
}

#menuwarp {
    position: fixed;
    right: -500px;
    background: #fff;
    z-index: 999;
    min-width: 0px;
    height: 100%;
    width: 0px;
    -webkit-transition: 1.0s;
    transition: 1.0s;
 #superfish-main-menu-accordion {
    display: block;
 }
 .sf-accordion-toggle.sf-style-none {
    display: none;
 }
 
}
#menuwarp.active {
 right: 0px;
 min-width: 100%;
}
.region.region-navigation1 {
 .close-icon {
  a {
   font-size: 24px;
   color: $grey;
  }
 }
 .main-menu-block {
  .menu {
   //padding: 15px 0px 0px 40px;
   .sf-depth-1 {
    width: 100%;
    float: left;
    display: block;
    line-height: 24px;
    //margin-bottom: 30px;
    a {
     width: 100% !important;
     margin-bottom: 0px;
     color: $black;
     font-family: $title;
     font-size: 20px;
     &:hover {
      color: $light-blue;
     }
    }
    ul {
     padding: 0px;
     li {
      display: block;
      a {
       font-size: 16px;
       font-family: $reg;
       &:hover {
        color: $light-blue;
       }  
      }
     }
    }
   }
  }
 }
}


