 /*--------------<menu>----------------*/
.tb-megamenu .nav > li {
    margin-left: 0;
}
.tb-megamenu .field-content a {
    padding: 3px 0 !important;
}
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover{
 //color: $orange !important;
 //padding: 8px 0px 10px !important;
}
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a{
        color: $orange !important;
}
.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
   background-image:-ms-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
   background-image:-webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
   background-color: rgba(0, 0, 0, 0) !important;
}
.tb-megamenu-item.mega.active a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle{
        color: $orange;
}
.tb-megamenu-submenu.mega-group-ct.nav-child {
    background: none repeat scroll 0 0 transparent !important;
}
.menu-view .views-field-title a {
   font-family: $reg;
   font-weight: 300;
   font-style: normal;
   font-size: 18px;
   color: #4f4f4f;
   padding-left: 0 !important;
   &:hover{
    //color: $orange !important;
    padding: 8px 0px 10px !important;
   }
   
}
.menu-view .views-row {
    margin-right:10px;
    display: inline-block;
    float: left;
    width: 22%;
    img {
     width: 100%;
    }
}
#block-views-menu-content-block h2 {
    color: #4f4f4f;
    font-family: $head;
    font-weight: 700;
    margin: 0 !important;
    text-transform: uppercase;
    font-size: 18px;
}
.menu-view {
    display: block;
    margin-bottom: 20px !important;
}
.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
    color: $orange !important;
}

.tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li.dropdown.open.active > a:focus,.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover{
        color: $orange !important;
}

.tb-megamenu .mega-col-nav .mega-inner {
    padding: 0 !important;
}
.tb-megamenu .dropdown-menu li a {
    border-bottom: medium none !important;
    border-top: 1px solid $white !important;
    font-family: $head;
    font-weight: 700 !important;
    color: #4f4f4f;
    font-size: 18px;
    padding: 10px 0 !important;
    text-transform: uppercase;
    &:hover {
     color: $orange !important;
     //padding: 8px 0px 10px !important;
    }
}

.tb-megamenu-submenu ul ul li a {
    text-transform: capitalize !important;
    font-size: 16px !important;
    //@include transition;
}
.tb-megamenu-submenu {
    padding-left: 50% !important;
    width: 100%;
    text-align: left;
    border-bottom:none !important;
    z-index: 1000 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background:none repeat scroll 0 0 rgba(235, 235, 235, 0.9) !important;
}
.tb-megamenu-submenu *{
}
.tb-megamenu-submenu ul li a,.tb-megamenu .dropdown-menu li > a{
}

.tb-megamenu-submenu.mega-group-ct.nav-child {
    padding: 0px 0px 8px !important;
}
.tb-megamenu-submenu.mega-group-ct.nav-child li a {
    border: medium none !important;
    color: #808080;
    font-size: 18px;
    padding: 0px !important;
    line-height: 22px !important;
}

header#header-branding .col-xs-6.col-sm-8.col-lg-10,
.main-menu.contextual-links-region {
  position: inherit;
  position: initial;
}

.main-menu {
 float: right;
 margin-top: 3px;
 position: inherit;
 position: initial;
 div.contextual-links-wrapper {
  right: 295px !important;
  top: 50px !important;
 }
 .tb-megamenu {
  position: inherit;
  position: initial;
  background-color: $white !important;
  width: 100%;
  .caret {
   display: none !important;
  }
  .mega-align-justify > .dropdown-menu {
    left: 0px;
    width: 100%;
    top: 94px;
  }
 }
}

.user-logged-in .main-menu .tb-megamenu .mega-align-justify > .dropdown-menu {
 top: 94px !important;
}
.tb-megamenu .tb-megamenu-item.level-1 {
    display: inline-block !important;
    float: none;
}
.tb-megamenu-nav.nav.level-0 {
    text-align: right;
}
.tb-megamenu .dropdown .caret {
    margin-left: 2px;
    margin-top: 15px !important;
}

.tb-megamenu .nav > li > a {
    background-color: $white !important;
    border: medium none;
    font-family: $reg;
    font-size: 14px;
    color: $black;
    font-weight: 600;
    text-transform: uppercase;
     //@include transition;
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    background-color: #e54e4b;
    color: $orange !important;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.main-menu_ {
 .tb-megamenu {
  background: none;
  .nav > li {
   width: 100%;
  }
  .mega-nav .mega-group > .mega-group-title, 
  .dropdown-menu .mega-nav .mega-group > .mega-group-title, 
  .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
   padding: 0px;
  }
  .dropdown-menu .active > a, 
  .dropdown-menu .active > a:hover {
    background: none;
    color: $orange;
  }
  .dropdown-menu {
   top: 0px;
   left: 240px;
   background: rgba($blue, 0.7);
   border: 0px solid;
   li > a {
    color: $white;
    border-top: 1px solid $orange;
    &:hover {
     color: $orange;
    }
   }
   li:first-child > a {
    border-top: 0;
   }
  }
  a.fa {
   font-family: "roboto";
  }
  a.fa:before {
       margin-right: 1em;
       font-family: FontAwesome;
       color: $white;
       -moz-transition: ease-out 0.2s;
       -o-transition: ease-out 0.2s;
       -webkit-transition: ease-out 0.2s;
       transition: ease-out 0.2s;
      }

  .nav > li > a {
   padding: 10px;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   font-weight: normal;
   border-right: 0px solid #222;
   &:hover, &:focus {
    background: none;
    color: $orange;
   }
   .fa {
    margin-right: 10px;
   }
  }
  .level-2 .dropdown-menu {
    left: 191px !important;
  }
  .nav li.dropdown.open > .dropdown-toggle {
   background: none;
   color: $orange;
  }
  .nav > .dropdown > .dropdown-toggle .caret {
   background: url("../images/arrow.png");
   width: 10px;
    height: 10px;
    background-size: 5px;
    background-repeat: no-repeat;
    margin-top: 8px;
    border: 0px;
    float: right;
  }
 }
}

