.webform-submission-form,
#user-register-form, 
#user-pass, 
#user-login-form {
     //max-width: 400px;
}
.form-control,
.select2-container .select2-choice {
    height: auto;
}

.region.region-content {
    margin-bottom: 15px;
  @media (min-width: 768px)  {
   //min-height: 800px;
  }
}
.path-frontpage .region.region-content {
   min-height: 100% !important;

}
.main-container {
 .region.region-content {
  .view-blogs, .view-videos, ._view-gallery, .view-news, .view-in-the-news,
  .view-latest-news,
  .view-video-gallery, .view-featured-article, .view-feeds {
   .views-row:nth-child(1) {
    border-top: dotted 1px #ccc;
   }
   .views-row {
    float: left;
    width: 100%;
    border-bottom: dotted 1px #ccc;
    padding: 20px 0px;
     .views-field-title {
      a {
       color: $secondary-color;
       text-decoration: none;
       font-size: 22px;
     }
    }
    .views-label-field-category {
     float: left;
    }
    .views-field-field-category a {
     color: $secondary-color;
     margin-left: 5px;
    }
    iframe {
     width: 300px !important;
     height: 180px !important;
    }
     img, iframe {
      float: left;
      margin: 0px 20px 10px 0px;
     }
    .views-field-created {
     color: #888;
     font-size: 12px;
    }
    .views-field-view-node {
     text-align: right;
     a {
      @extend .button;
      font-size: 18px;
     }
    }
   }   
  }
 }
}

.region.region-sidebar-first {
    padding-bottom: 15px;
}

.path-search #search-form .button {
padding: 4px 10px !important;
font-size: 16px !important;
}

.crm-container .crm-section .label {
    color: $black;
}

@media (min-width: 768px)  {
 #header-branding .container {
   width: 96% !important;
 }
}

@media (min-width: 992px)  {
 .about,
 .banner,
 .promobanner,
 .activity {
  .container {
   width: 83.33% !important;
  }
 }
 .main-container.container {
   width: 83.33% !important;
  }
  .paragraph  .container {
   width: 100% !important;
  }
}

.withImage .bImage {
 position: relative;
 margin-bottom: 20px;
 img {
  width: 100%;
 }
 .field.field--name-field-header-image {
  height: 400px;
 }
  #pTitle {
    text-align: center;
    .page-header {
    display: inline-block;
    background: $black;
    margin: -30px auto 0;
    padding: 2px 10px;
    font-size: 48px;
    color: $white;
    font-family: $title;
    text-transform: uppercase;
   }
  }
 .region-header_,
 #pTitle_ {
  text-align: left;
  position: absolute;
  bottom: 0;
  background: rgba($black, 0.5);
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  .page-header {
   font-size: 50px;
   font-weight: bold;
   letter-spacing: 10px;
   color: $white;
   font-family: $title;
   text-transform: uppercase;
   border: 0px solid;
   align-items: center;
   margin: 20px auto !important;
   text-align: left;
  }
  .breadcrumb {
   display: none;
  }
 }
}


.withOutImage #pTitle {
 text-align: center;
 }


 body {
     overflow-x: hidden;
}

.shariff {
     margin-top: 20px;
}

.main-container .region-content, ._field.field-name-body, .shariff {
    width: 900px;
    margin: 10px auto;
}



.activity .container .row {
     margin-right: -8px !important;
    margin-left: -12px !important;
}


@media screen and (min-width: 1500px) and (max-width: 2000px) {
 #page-header .views-field.views-field-nothing {
      left: -36px !important;
}
}


@media screen and (min-width: 0px) and (max-width: 767px) {
 .main-container .region-content, ._field.field-name-body, .shariff {
   width: 100% !important;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-container .region-content .field--name-body, ._field.field-name-body, .shariff {
   width: 100% !important;
   }

   .logo img {
    width: 320px !important;
}

#block-homepagecounter .col-sm-4 {
    width: 31.333% !important;
}

}

#block-mobilemenuicon-2 {
 transition: all 0.3s linear;
}

#block-mobilemenuicon-2::after {
 
  transition: all 0.3s linear;
}


 .field--name-field-related, .shariff  {
	     padding-top: 35px;
     }
.user-logged-in .log {
	display: none;
}

#block-twitterfeedsblock {
 overflow: scroll;
 }

 @media screen and (min-width: 0px) and (max-width: 767px) {
	 .view-staff-board-of-directors .views-row {
		 width: 100% !important;
	 }

.help-menu-mobile {
	float: none !important;
	text-align: center;
}

	.help-menu-mobile ul {
		padding: 0 !important;
	}
 }


 @media (min-width: 768px) and (max-width: 991px) {
	.view-staff-board-of-directors .views-row {
		width: 24% !important;
	}
}
.adminimal .ui-dialog .ui-dialog-titlebar-close {
    opacity: 1 !important;
    }
