.promobanner {
 overflow: hidden;
 .views-row {
  padding: 0px;
  width: calc(50% - 8px);
  margin: 3px;
  .views-field.views-field-field-promo-image {
   width: 100%;
   img {
    width: 100%;
   }
  }
  .views-field-title {
    z-index: 10;
    position: absolute;
    top: 17px;
    a {
     background: none repeat scroll 0 0 rgba(0, 77, 150, 0.7);
     color: $white;
     text-transform: uppercase;
     font-size: 1.6em;
     padding: 19px 55px 17px 50px;
     text-align: center;
     text-decoration: none;
     font-family: $title;
    }
  }
  .views-field.views-field-nothing a {
    background-color: $white;
    bottom: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    font-family: $title;
    font-size: 19px;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: url("../images/know-more-triange.png");
    background-origin: padding-box;
    background-position: 73px center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 15px 15px;
    color: #004d96;
    padding: 12px 28px 12px 10px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .views-field.views-field-body {
   .field-content {
    height: 100%;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    top: 0;
    left: 0;
    //margin: 20px 0 0;
    width: 100%;
    color: white;
    background: none repeat scroll 0 0 rgba(0, 77, 150, 0.5);
    opacity: 0;
    transform-origin: 50% 100% 0;
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0s;
    -webkit-transform-origin: 50% 100% 0;
    -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0s;
    @media (min-width: 0px) and (max-width: 991px) {
      display: none;
    }
    p {
     line-height: 27px;
     margin: 0;
     text-align: justify;
     word-spacing: 4px;
     position: absolute;
     top: 22%;
     left: 3%;
     right: 20px;
     font-size: 22px;

    }
   }
  }
  &:hover {
   .views-field.views-field-body  .field-content {
    opacity: 1;
   }
  }
  @media (min-width: 0px) and (max-width: 767px) {
    //opacity: 0 !important;
    width: 100%;
    margin: 0px;
    margin-bottom: 2px;
  }
 }
}

