//---------< popup >------

.search-warp {
  //background: #f2f2f2;
  text-align: center;
  transition: all 0.9s ease-in-out 0s;
  max-height: 0px;
  overflow: hidden;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   background: rgba(242,242,242,.95);
   z-index: 99;
  form#search-block-form {
    max-width: 500px;
    margin: 0 auto;
    .form-search,
    #edit-search-block-form--2 {
     height: 60px;
     font-size: 20px;
     border-radius: 0px;
    }
    .btn.btn-primary {
     Background: $light-blue;
     Border: 1px solid $light-blue;
     Font-size: 19px;
     line-height: 28px;
     Padding: 15px;
     Border-radius: 0px;
    }
  }
  .search-block-close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
  a {
   color: $black;
   font-size: 24px;
  }
 }
}

.search-warp.closed {
   max-height: 100%;
   padding-top: 24%;
   @media (min-width: 0px) and (max-width: 767px) {
      padding-top: 65% !important;
   }
   @media (min-width: 768px) and (max-width: 991px) {
      padding-top: 29% !important;
   }
}


