.main-container{
 .region.region-content {
  .view-gallery, .view-board-of-directors, .view-staff-board-of-director  {
   .views-row {
    //width: 23%;
    margin: 1%;
    float: left;
    position: relative;
    overflow: hidden;
    img {
     width: 100%;
     margin-bottom: -5px;
    }
    .views-field.views-field-field-name, .views-field.views-field-title a {
     position: absolute;
     bottom: 10px;
     text-align: center;
     left: 0;
     right: 0;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
     text-shadow: 0px 0px 1px #333;
    }
    .views-field-view-node a, .views-field-nothing {
     position: absolute;
     padding-top: 26%;
     text-align: center;
     background: #005191;
     width: 100%;
     height: 100%;
     top: 0;
     font-size: 40px;
     color: #fff;
     transform: translateY(100%);
     transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
     transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
     &:hover {
      transform: translateY(0%);
     }
    }
    &:hover {
     .views-field-view-node a, .views-field-nothing {
      transform: translateY(0%);
     }
    }
    .views-field-nothing {
     padding: 19% 1% 1% 1%;
     font-size: 14px;
     background: #005191;
     .name {
      font-size: 20px;
      font-weight: bold;
     }
     .bio a {
      color: rgba(255,255,255,0.6);
      transition: all .3s linear 0s;
      font-size: 13px;
      &:hover {
       color: #fff;
      }
     }
    }
   } 
  }
 }
}




//  new styling //


.view-staff-board-of-directors {
 .views-row {
    //width: 23%;
    margin: 1%;
    width: 31%;
    float: left;
    position: relative;
    overflow: hidden;
    img {
     width: 100%;
     margin-bottom: -5px;
    }
    .views-field.views-field-field-name, .views-field.views-field-title a {
     position: absolute;
     bottom: 10px;
     text-align: center;
     left: 0;
     right: 0;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
     text-shadow: 0px 0px 1px #333;
    }
.views-field-view-node a, .views-field-nothing {
     position: absolute;
     padding-top: 26%;
     text-align: center;
     background: #005191;
     width: 100%;
     height: 100%;
     top: 0;
     font-size: 40px;
     color: #fff;
     transform: translateY(100%);
     transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
     transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
     &:hover {
      transform: translateY(0%);
     }
    }
    &:hover {
     .views-field-view-node a, .views-field-nothing {
      transform: translateY(0%);
     }
    }
    .views-field-nothing {
     padding: 19% 1% 1% 1%;
     font-size: 14px;
     background: #005191;
     .name {
      font-size: 20px;
      font-weight: bold;
     }
.bio a {
      color: rgba(255,255,255,0.6);
      transition: all .3s linear 0s;
      font-size: 13px;
      &:hover {
       color: #fff;
      }
     }
    }
   }
  }
 
.view-staff-board-of-directors .views-row .views-field-nothing .bio a {
        color: #fff !important;
}

.name a {  color: #fff !important; }
