#main-menu-nav {
  background: $blue;
}
.main-menu-block {
  background: $blue;
   ul {
    padding: 10px 0px;
    li {
     padding: 0px 0px 0px 0px;
     background: none !important;
     border: 0px !important;
     border-left: 1px solid #7d81a1 !important;
     a {
      text-transform: uppercase;
      color: $white;
      font-size: 24px;
      height: 54px;
      line-height: 51px;
      padding: 0 20px;
      text-align: center;
      font-family: $title;
      text-decoration: none;
      transition: all 0.3s ease-in-out 0s;
      &:hover {
       background: rgba($white,0.3);
      }
     }
    }
    .last {
     padding-right: 0px;
    }
    ul {
     background: rgba($blue,0.7);
     //margin-top: -12px;
     padding: 0px !important;
     border-radius: 0px;
     li {
      border-bottom: 1px solid #00B8C2 !important;
      padding: 7px 0px 7px 10px;
      background: none !important;
      a { 
       color: $white;
       text-transform: capitalize;
       background: none !important;
       border: 0px !important;
       text-align: left;
       &:hover {
        
       }
      } 
     }
     .last {
       border: 0px;
     }
   }
  }
  .sf-sub-indicator {
    display: none;
  }
  .sf-with-ul {
    padding: 0px 20px !important;
  }
  ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
    top: 54px;
  }
 }



