/* line 4, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row, .main-container .region.region-content .view-board-of-directors .views-row, .main-container .region.region-content .view-staff-board-of-director .views-row {
  margin: 1%;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 10, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row img, .main-container .region.region-content .view-board-of-directors .views-row img, .main-container .region.region-content .view-staff-board-of-director .views-row img {
  width: 100%;
  margin-bottom: -5px;
}
/* line 14, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field.views-field-field-name, .main-container .region.region-content .view-gallery .views-row .views-field.views-field-title a, .main-container .region.region-content .view-board-of-directors .views-row .views-field.views-field-field-name, .main-container .region.region-content .view-board-of-directors .views-row .views-field.views-field-title a, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field.views-field-field-name, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field.views-field-title a {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #333;
}
/* line 25, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-view-node a, .main-container .region.region-content .view-gallery .views-row .views-field-nothing, .main-container .region.region-content .view-board-of-directors .views-row .views-field-view-node a, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-view-node a, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing {
  position: absolute;
  padding-top: 26%;
  text-align: center;
  background: #005191;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 40px;
  color: #fff;
  transform: translateY(100%);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 38, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-gallery .views-row .views-field-nothing:hover, .main-container .region.region-content .view-board-of-directors .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing:hover, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-view-node a:hover, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing:hover {
  transform: translateY(0%);
}
/* line 43, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row:hover .views-field-view-node a, .main-container .region.region-content .view-gallery .views-row:hover .views-field-nothing, .main-container .region.region-content .view-board-of-directors .views-row:hover .views-field-view-node a, .main-container .region.region-content .view-board-of-directors .views-row:hover .views-field-nothing, .main-container .region.region-content .view-staff-board-of-director .views-row:hover .views-field-view-node a, .main-container .region.region-content .view-staff-board-of-director .views-row:hover .views-field-nothing {
  transform: translateY(0%);
}
/* line 47, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing {
  padding: 19% 1% 1% 1%;
  font-size: 14px;
  background: #005191;
}
/* line 51, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing .name, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing .name, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing .name {
  font-size: 20px;
  font-weight: bold;
}
/* line 55, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing .bio a, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing .bio a, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing .bio a {
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s linear 0s;
  font-size: 13px;
}
/* line 59, ../../sass/modules/bod.scss */
.main-container .region.region-content .view-gallery .views-row .views-field-nothing .bio a:hover, .main-container .region.region-content .view-board-of-directors .views-row .views-field-nothing .bio a:hover, .main-container .region.region-content .view-staff-board-of-director .views-row .views-field-nothing .bio a:hover {
  color: #fff;
}

/* line 76, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row {
  margin: 1%;
  width: 31%;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 83, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row img {
  width: 100%;
  margin-bottom: -5px;
}
/* line 87, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field.views-field-field-name, .view-staff-board-of-directors .views-row .views-field.views-field-title a {
  position: absolute;
  bottom: 10px;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #333;
}
/* line 98, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-view-node a, .view-staff-board-of-directors .views-row .views-field-nothing {
  position: absolute;
  padding-top: 26%;
  text-align: center;
  background: #005191;
  width: 100%;
  height: 100%;
  top: 0;
  font-size: 40px;
  color: #fff;
  transform: translateY(100%);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 111, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-view-node a:hover, .view-staff-board-of-directors .views-row .views-field-nothing:hover {
  transform: translateY(0%);
}
/* line 116, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row:hover .views-field-view-node a, .view-staff-board-of-directors .views-row:hover .views-field-nothing {
  transform: translateY(0%);
}
/* line 120, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing {
  padding: 19% 1% 1% 1%;
  font-size: 14px;
  background: #005191;
}
/* line 124, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .name {
  font-size: 20px;
  font-weight: bold;
}
/* line 128, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .bio a {
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s linear 0s;
  font-size: 13px;
}
/* line 132, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .bio a:hover {
  color: #fff;
}

/* line 140, ../../sass/modules/bod.scss */
.view-staff-board-of-directors .views-row .views-field-nothing .bio a {
  color: #fff !important;
}

/* line 144, ../../sass/modules/bod.scss */
.name a {
  color: #fff !important;
}
