/*
Error: Undefined variable: "$blue".
        on line 2 of /home/ruhi/unitedwaysjc_d8/sass/modules/menu.scss

1: #main-menu-nav {
2:   background: $blue;
3: }
4: .main-menu-block {
5:   background: $blue;
6:    ul {
7:     padding: 10px 0px;

Backtrace:
/home/ruhi/unitedwaysjc_d8/sass/modules/menu.scss:2
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/home/ruhi/.rvm/gems/ruby-2.4.0/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$blue\".\A         on line 2 of /home/ruhi/unitedwaysjc_d8/sass/modules/menu.scss\A \A 1: #main-menu-nav {\A 2:   background: $blue;\A 3: }\A 4: .main-menu-block {\A 5:   background: $blue;\A 6:    ul {\A 7:     padding: 10px 0px;"; }
